<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix" ng-slide="!MaterialTemplate.IsView&&!MaterialTemplate.IsEdit">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">模板列表</h2>
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="Service.Add()"> <i class="fa fa-wrench"></i> 添加模板</a>
                    <a class="btn btn-primary" ng-click="Service.Edit()"><i class="fa fa-pencil"></i> 修改模板</a>
                    <a class="btn btn-danger" ng-click="Service.Delete()"><i class="fa fa-times"></i> 删除模板</a>
                    <a class="btn btn-primary" ng-click="Service.View()"> <i class="fa fa-align-justify"></i> 模板详情</a>
                </span>
            </header>
            <div class="main-box-body">
                <div class="table-responsive list-box">
                    <table class="table table-bordered table-striped" st-table="MaterialTemplate.List">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>模板名称</span></th>
                                <th><span>模板全称</span></th>
                                <th><span>模板类型</span></th>
                                <th><span>模板描述</span></th>
                                <th><span>备注</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in MaterialTemplate.List" ng-dblclick="Service.ViewTemplate(row)" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{row.tmplName}}
                                </td>
                                <td>
                                    {{row.tmplFullName}}
                                </td>
                                <td>
                                    {{row.tmplTypeName}}
                                </td>
                                <td>
                                    {{row.tmplDesc}}
                                </td>
                                <td>
                                    {{row.remark}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>

        <div ng-slide="MaterialTemplate.IsView" style="display:none;">
            <div class="tools">
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="Service.IsView(false)"><i class="fa  fa-reply"></i> 返回</a>
                </span>
            </div>
            <div class="row-fluid">
                <div class="widget-box">
                    <div class="widget-title bg_ly" data-toggle="collapse" href="#BaseInformation">
                        <span class="icon"><i class="fa icon-chevron-down"></i></span>
                        <h5>模板信息</h5>
                    </div>
                    <div class="widget-content nopadding collapse in" id="BaseInformation">
                        <div class="control-group ">
                            <label style="width:100%;"> 货主信息：{{view.PageData.oIOrgCodeName}}</label>
                        </div>
                        <div class="control-group ">
                            <label>
                                套件编码：{{view.PageData.kitCode}}
                            </label>
                            <label>
                                套件名称：{{view.PageData.kitFullName}}
                            </label>
                            <label>
                                套件全称：{{view.PageData.kitName}}
                            </label>
                        </div>
                        <div class="control-group ">
                            <label>
                                套件类型：{{view.PageData.kitTypeName}}
                            </label>
                            <label>
                                存储仓库：{{view.PageData.whName}}
                            </label>
                            <label>
                                存储库区：{{view.PageData.zoneName}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title bg_ly">
                        <span class="icon"><i class="fa icon-chevron-down"></i></span>
                        <h5 data-toggle="collapse" href="#ProductInformation">
                            物料信息
                            {{ProductCompetence.ShowInfo}}
                        </h5>
                    </div>
                    <div id="ProductInformation" class="widget-content nopadding collapse in">
                        <div ng-product-view="newProduct" ng-model="view.PageData" ng-service="view.ProductService" ng-comp="view.ProductCompetence"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>