<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">{{title}}</h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-click=""><i class="fa fa-align-justify"></i> 计费详情</a>
                </span>
                <div class="input-group" ng-if="false" style="float:right;width:250px;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="请输入计费单号或订单号"
                           style="padding:8px;" ng-model="Pagein.sONo">
                    <a class="input-group-addon" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                </div>
            </header>

            <div class="main-box-body clearfix">
                <div class="table-responsive list-box">
                    <table class="table table-bordered table-striped" st-table="Integrated.BillList">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>发票编号</span></th>
                                <th><span>发票号</span></th>
                                <th><span>开票类型</span></th>
                                <th><span>发票类型</span></th>
                                <th><span>收票医院</span></th>
                                <th><span>开票日期</span></th>
                                <th><span>开票人</span></th>
                                <th><span>开票金额</span></th>
                                <th><span>开票状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Integrated.ReconciliationList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="PageControl.ViewBillByRow(row)">
                                <td>{{$index+1}}</td>
                                <td><span ng-bind="row.hSOANo"></span></td>
                                <td><span ng-bind="row.hSOAHospitalNo"></span></td>
                                <td><span ng-bind="row.hSOASourceTypeName"></span></td>
                                <td><span ng-bind="row.hPCodeName"></span></td>
                                <td><span ng-bind="row.hSOAIssueDate"></span></td>
                                <td><span ng-bind="row.hSOAIssueByName"></span></td>
                                <td><span ng-bind="AppHelp.Data.GetDate(0,row.hSOADateFrom)"></span>~<span ng-bind="AppHelp.Data.GetDate(0,row.hSOADateTo)"></span></td>
                                <td><span ng-bind="row.hSOAAmt"></span></td>
                                <td><span ng-bind="row.sTATUSName"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>