<div>
    <ng-dialog ng-model="ngOperat">
        <div style="display: inline-block; width: 99%; padding: 5px;">
            <div class="input-group" style="float:right;width:250px;">
                <input type="text" class="form-control" placeholder="请输入物料编码或物料名称"
                       style="padding:8px;" ng-model="Service.SearchWhere">
                <a class="input-group-addon" href="javascript:void(0)"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="main-box-body clearfix" style="padding:0px 10px;max-height:480px;min-height:480px; overflow:auto;">
            <div class="table-responsive">
                <table class="table table-bordered tab-striped">
                    <thead>
                        <tr>
                            <th><span>序号</span></th>
                            <th><span>套件编码</span></th>
                            <th><span>套件名称</span></th>
                            <th><span>套件类型</span></th>
                            <th><span>仓库名称</span></th>
                            <th><span>需求数量</span></th>
                            <th><span>库区</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'selected':row.reqQty>0}" ng-repeat="row in Service.MedKits|filter :Service.SearchWhere" ng-dblclick="Service.AddreqQty(row)">
                            <td>{{$index+1}}</td>
                            <td>
                                {{row.kitCode}}
                            </td>
                            <td>
                                {{row.kitName}}
                            </td>
                            <td>
                                {{row.kitTypeName}}
                            </td>
                            <td>
                                {{row.whName}}
                            </td>
                            <td>
                                <input type="number" value="0" ng-model="row.reqQty" style="width:60px" min="0" />
                            </td>
                            <td>
                                {{row.zoneName}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-dialog>
</div>