<div class="row">
    <div class="row-fluid">
        <div class="widget-box" style="font-size:18px;">
            <div class="widget-content nopadding collapse in">
                <div class="control-group ">
                    <label>
                        用户名称：{{}}
                    </label>
                    <label>
                        账户名称：{{}}
                    </label>
                    <label>
                        联系电话：{{}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        组织类型：{{}}
                    </label>
                    <label>
                        组织编码：{{}}
                    </label>
                    <label>
                        组织名称：{{}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        所属角色：<span class="my_Role">测试</span>
                    </label>
                </div>
                <div class="control-group my_Operat">
                    <a href="javascript:void(0)">修改密码</a>
                    <a href="javascript:void(0)">手术下单</a>
                    <a href="javascript:void(0)">备货下单</a>
                    <a href="javascript:void(0)">详情信息</a>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#CommonAddressInformation">常用地址</h5>
                <a class="btn">添加</a>
            </div>
            <div id="CommonAddressInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding:5px;">
                    <div class="main-box-body clearfix" style="width:100%;">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th><span>序号</span></th>
                                        <th><span>收件人</span></th>
                                        <th><span>联系电话</span></th>
                                        <th><span>收货地址</span> </th>
                                        <th style="width:200px;"><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>{{$index+1}}</td>
                                        <td>小明</td>
                                        <td>222222</td>
                                        <td>上海大渡河路</td>
                                        <td>
                                            <a class="btn btn-primary">修改</a>
                                            <a class="btn btn-danger">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#ContactDoctorInformation">联系医生</h5>
                <a class="btn">添加</a>
            </div>
            <div id="ContactDoctorInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding:5px;">
                    <div class="main-box-body clearfix" style="width:100%;">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th><span>序号</span></th>
                                        <th><span>医院名称</span></th>
                                        <th><span>科室名称</span></th>
                                        <th><span>医生名称</span> </th>
                                        <th><span>联系电话</span> </th>
                                        <th style="width:200px;"><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ng-scope ng-isolate-scope">
                                        <td>{{$index+1}}</td>
                                        <td>五八医院</td>
                                        <td>骨科</td>
                                        <td>王阳明</td>
                                        <td>123344</td>
                                        <td>
                                            <a class="btn btn-primary">
                                            修改</a>
                                            <a class="btn btn-danger">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#CompetenceInformation">功能权限</h5>
            </div>
            <div id="CompetenceInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding:5px;">
                    功能建设中
                </div>
        </div>
    </div>
</div>