<div class="row">
    <div class="row-fluid">
        <div class="widget-box" style="font-size:18px;">
            <div class="widget-content nopadding collapse in">
                <div class="control-group ">
                    <label>
                        用户名称：{{PageInfo.UserInfo.orgName}}
                    </label>
                    <label>
                        账户名称：{{PageInfo.UserInfo.loginName}}
                    </label>
                    <label>
                        联系电话：{{PageInfo.UserInfo.loginMobileNo}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        组织类型：{{PageInfo.UserInfo.orgType}}
                    </label>
                    <label>
                        组织编码：{{PageInfo.UserInfo.orgCode}}
                    </label>
                    <label>
                        组织名称：{{PageInfo.UserInfo.orgName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        所属角色：{{Information.roleName}}
                    </label>
                </div>
                <div class="control-group my_Operat">
                    <a href="javascript:void(0)" ng-click="modifyPwd.show()">修改密码</a>
                    <a href="javascript:void(0)" ng-click="Jumpcenter.operationOrder()">手术下单</a>
                    <a href="javascript:void(0)" ng-click="Jumpcenter.ReadyOrder()">备货下单</a>
                    <a href="javascript:void(0)" ng-click="Jumpcenter.UesrDetail()">详情信息</a>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#CommonAddressInformation">常用地址</h5>
                <a class="btn">添加</a>
            </div>
            <div id="CommonAddressInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding:5px;">
                    <div class="main-box-body clearfix" style="width:100%;">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-striped" st-table="ComAddress">
                                <thead>
                                    <tr>
                                        <th><span>序号</span></th>
                                        <th><span>收件人</span></th>
                                        <th><span>联系电话</span></th>
                                        <th><span>收货地址</span> </th>
                                        <th style="width:200px;"><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in ComAddress" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                        <td>{{$index+1}}</td>
                                        <td>{{row.contact}}</td>
                                        <td>{{row.mobile}}</td>
                                        <td>{{row.provinceCodeName}}{{row.cityCodeName}}{{row.districtCodeName}}{{row.address}}</td>
                                        <td>
                                            <a class="btn btn-primary">修改</a>
                                            <a class="btn btn-danger">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#ContactDoctorInformation">联系医生</h5>
                <a class="btn">添加</a>
            </div>
            <div id="ContactDoctorInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding:5px;">
                    <div class="main-box-body clearfix" style="width:100%;">
                        <div class="table-responsive ">
                            <table class="table table-bordered table-striped" st-table="ContacDoctor">
                                <thead>
                                    <tr>
                                        <th><span>序号</span></th>
                                        <th><span>医院名称</span></th>
                                        <th><span>科室名称</span></th>
                                        <th><span>医生名称</span> </th>
                                        <th><span>联系电话</span> </th>
                                        <th style="width:200px;"><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in ContacDoctor" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                        <td>{{$index+1}}</td>
                                        <td>{{row.hPName}}</td>
                                        <td>{{row.wardDeptname}}</td>
                                        <td>{{row.dTName}}</td>
                                        <td>{{row.dTMobile}}</td>
                                        <td>
                                            <a class="btn btn-primary">
                                                修改
                                            </a>
                                            <a class="btn btn-danger">删除</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#CompetenceInformation">功能权限</h5>
            </div>
            <div id="CompetenceInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding:5px;">
                    功能建设中
                </div>
        </div>
    </div>
</div>
</div>
<ng-dialog ng-model="modifyPwd.dialog" class="page dialogshow" >
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            用户名称：  {{User.userInfo.userName}}
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            组织名称： {{User.userInfo.orgName}}
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            原始密码： <input type="password" ng-model="modifyPwd.pwsInfo.oldPassword" placeholder="请输入原始密码.." />
            <span class="red" ng-show="!modifyPwd.pwsInfo.oldPassword">请输入原始密码</span>
            <span class="green" ng-show="modifyPwd.pwsInfo.oldPassword">输入通过</span>
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            最新密码：<input type="password" ng-model="modifyPwd.pwsInfo.newPassword" placeholder="请输入修改后的新密码.." />
            <span class="red" ng-show="!modifyPwd.pwsInfo.newPassword">请输入最新密码</span>
            <span class="red" ng-show="modifyPwd.pwsInfo.newPassword&&(modifyPwd.pwsInfo.newPassword==modifyPwd.pwsInfo.oldPassword)">新密码不能和原始密码相同</span>
            <span class="green" ng-show="modifyPwd.pwsInfo.newPassword&&(modifyPwd.pwsInfo.newPassword!=modifyPwd.pwsInfo.oldPassword)">输入通过</span>
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            确认密码：<input type="password" ng-model="modifyPwd.pwsInfo.verifyPassword" placeholder="请确认输入的密码" />
            <span class="red" ng-show="(modifyPwd.pwsInfo.newPassword!=modifyPwd.pwsInfo.verifyPassword)&&(modifyPwd.pwsInfo.verifyPassword)">两次输入的密码不相同</span>
            <span class="red" ng-show="!modifyPwd.pwsInfo.verifyPassword">请输入确认密码</span>
            <span class="green" ng-show="modifyPwd.pwsInfo.verifyPassword&&(modifyPwd.pwsInfo.newPassword==modifyPwd.pwsInfo.verifyPassword)">输入通过</span>
        </div>
    </div>
</ng-dialog>