<div class="row">
    <div class="tools">
        <h5 style="float:left;">用户信息</h5>
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="PageInfo.saveUesr()"><i class="fa fa-pencil"></i> 保存</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#BaseInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>基础信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="BaseInformation">
                <div class="control-group ">
                    <label>
                        <span class="required">*</span> 账户名称：<input type="text" ng-model="PageInfo.UserInfo.loginName" placeholder="请输入账户名称" />
                    </label>
                    <label>
                        <span class="required">*</span>手机号码：<input type="text" ng-model="PageInfo.UserInfo.loginMobileNo" placeholder="请输入手机号码" />
                    </label>
                    <label>
                        <span class="required">*</span>用户姓名：<input type="text" ng-model="PageInfo.UserInfo.userName" placeholder="请输入用户姓名" />
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        <span class="required">*</span> 账户密码：<input type="password" ng-model="PageInfo.UserInfo.loginPassword" placeholder="请输入账户密码" />
                    </label>
                    <label>
                        <span class="required">*</span> 确认密码：<input type="password" ng-model="PageInfo.UserInfo.surePassword" placeholder="请输入账户密码" />
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left">  账户备注：</span>
                        <textarea class="box-80" ng-model="PageInfo.UserInfo.userRemark" placeholder="请输入该账户的备注信息"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#NewsletterInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>个人信息</h5>
            </div>
            <div id="NewsletterInformation" class="widget-content nopadding collapse in">
                <div class="control-group ">
                    <label>
                        用户性别：
                        <select ng-model="PageInfo.UserInfo.userSex" ng-change="SelectInfo.userSex.change(item)">
                            <option value="">请选择用户性别</option>
                            <option ng-repeat="item in SelectInfo.userSex.dic" ng-selected="item.id==PageInfo.UserInfo.userSex" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label>
                        用户学历：
                        <select ng-model="PageInfo.UserInfo.userEducation" ng-change="SelectInfo.userEducation.change(item)">
                            <option value="">请选择用户学历</option>
                            <option ng-repeat="item in SelectInfo.userEducation.dic" ng-selected="item.text==PageInfo.UserInfo.userEducationName" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label>
                        <span class="required">*</span>邮箱地址：<input type="tel" ng-model="PageInfo.UserInfo.loginEmail" placeholder="请输入邮箱地址" />
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:66%">
                        身 份 证：<input type="text" class="box-80" ng-model="PageInfo.UserInfo.userIDCard" placeholder="请输入用户身份证信息" />
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left;margin-left:-9px;color:red">*</span>  <span style="float:left">职位描述：</span>
                        <textarea class="box-80" ng-model="PageInfo.UserInfo.userJobDesc" placeholder="请输入职位描述"></textarea>
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left">描述信息：</span>
                        <textarea class="box-80" ng-model="PageInfo.UserInfo.userDescription" placeholder="请输入描述信息"></textarea>
                    </label>
                </div>

            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" style="width:80%" href="#CompetenceInformation">权限信息</h5>
                <a class="btn j_file_panel" href="javascript:void(0)" ng-click="addRoleList.show()">
                    新增角色
                </a>
            </div>
            <div id="CompetenceInformation" class="widget-content nopadding collapse in">
                <div class="control-group ">
                    <label>
                        <span class="required">*</span>机构类型：
                        <select ng-model="PageInfo.UserInfo.orgType" ng-change="SelectInfo.orgType.change(item)">
                            <option value="">请选择机构类型</option>
                            <option ng-repeat="item in SelectInfo.orgType.dic" ng-selected="item.id==PageInfo.UserInfo.orgType" value="{{item.id}}">{{item.id}}-{{item.text}}</option>
                        </select>
                    </label>
                    <label>
                        类型名称：<span>{{PageInfo.UserInfo.orgTypeName}}</span>
                    </label>
                    <label>
                        <span class="required">*</span>机构名称：
                        <select ng-model="PageInfo.UserInfo.roleTypeName" ng-change="SelectInfo.roleType.change(item)">
                            <option value="">请选择机构名称</option>
                            <option ng-repeat="item in SelectInfo.roleType.dic" ng-selected="item.id==PageInfo.UserInfo.orgCode" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group ">
                    <div class="main-box-body clearfix" style="width: 100%;">
                        <div class="table-responsive">
                            <table class="table table-bordered tab-striped">
                                <thead>
                                    <tr>
                                        <th><span>序号</span></th>
                                        <th><span>角色简称</span></th>
                                        <th><span>角色全称</span></th>
                                        <th><span>类型名称</span></th>
                                        <th><span>状态</span></th>
                                        <th><span>关系描述</span></th>
                                        <th><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in addRoleList.dic" ng-show="addRoleList.dic">
                                        <td>{{$index+1}}</td>
                                        <td>
                                            {{row.roleName}}
                                        </td>
                                        <td>
                                            {{row.roleFullName}}
                                        </td>
                                        <td>
                                            {{row.orgTypeName}}
                                        </td>
                                        <td>
                                            {{row.validStatusName}}
                                        </td>
                                        <td>
                                            {{row.relationDesc}}
                                        </td>
                                        <td>
                                            <button type="button" ng-click="addRoleList.delGroup($index)" class="btn btn-xs btn-danger">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="PageInfo.saveUesr()"><i class="fa fa-pencil"></i> 保存</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <ng-dialog ng-model="addRoleList.model">
        <div class="main-box-body clearfix">
            <div class="table-responsive list-box" style="padding: 15px; overflow: auto; min-height: 100px">
                <table class="table table-bordered table-striped" st-table="addRoleList.Info">
                    <thead>
                        <tr>
                            <th><span>序号</span></th>
                            <th><span>操作</span></th>
                            <th><span>角色简称</span></th>
                            <th><span>角色全称</span></th>
                            <th><span>类型名称</span></th>
                            <th><span>状态</span></th>
                            <th><span>角色描述</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in addRoleList.Info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                            <td>{{$index+1}}</td>
                            <td>
                                <span>
                                    <label style="float:left;">
                                        <input type="checkbox" ng-change="CallResult(row)" ng-model="row.isClick" />
                                    </label>
                                </span>
                            </td>
                            <td>
                                {{row.roleName}}
                            </td>
                            <td>
                                {{row.roleFullName}}
                            </td>
                            <td>
                                {{row.orgTypeName}}
                            </td>
                            <td>
                                {{row.validStatusName}}
                            </td>
                            <td>
                                {{row.relationDesc}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-pagein="page" ng-model="Pagein"></div>
        </div>
    </ng-dialog>
</div>
