
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_ly">          
            <h5 data-toggle="collapse" href="#pro_BaseInformation">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold">收货信息 [货主：<span ng-bind="PageData.sOOIOrgCodeName"></span>]</span> 
            </h5>
        </div>
        <div class="widget-content nopadding collapse in" id="pro_BaseInformation">
            <div class="control-group ">
                <label>
                    收货人：<span ng-bind="PageData.deliveryContact"></span>
                </label>
                <label>
                    电话：<span ng-bind="PageData.deliveryrMobile"></span>
                </label>
                <label>
                    配送：<span ng-bind="PageData.carrierTransTypeName"></span>
                </label>
            </div>
            <div class="control-group ">
                <label style="width:100%">
                    <span>地址：</span>
                    <span>
                        <span ng-bind="PageData.deliveryProvinceName"></span>
                        <span ng-bind="PageData.deliveryCityName"></span>
                        <span ng-bind="PageData.deliveryDistrictName"></span>
                        <span ng-bind="PageData.deliveryAddress"></span>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="widget-box">
        <div class="widget-title bg_ly">
            <h5 data-toggle="collapse" href="#pro_SurgeryInformation">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold"> 手术信息</span> 
            </h5>
        </div>
        <div id="pro_SurgeryInformation" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <label>
                    医院：<span ng-bind="PageData.hPCodeName"></span>
                </label>
                <label>
                    科室：<span ng-bind="PageData.wardDeptCodeName"></span>
                </label>
                <label>
                    医生：<span ng-bind="PageData.dTCodeName"></span> <span style="color:green">[<span ng-bind="PageData.isLocalName"></span> ]</span>
                </label>
            </div>
            <div class="control-group">
                <label style="width:100%;">
                    医院要求：<span ng-bind="PageData.hPPreferenceDesc"></span>
                </label>
            </div>
            <div class="control-group">
                <label style="width:100%;">
                    医生要求：<span ng-bind="PageData.dTOperationPreferenceDesc"></span>
                </label>
            </div>
            <div class="control-group">
                <label>
                    手术日期：<span ng-bind="PageData.DataFmtYMDW"></span>
                </label>
                <label style="width:60%">
                    诊断信息：<span ng-bind="PageData.patientDiseaseInfo"></span>
                </label>
            </div>
            <div class="control-group ">
                <label style="width:100%;">
                    患者备注：<span ng-bind="PageData.patientRemark"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="widget-box">
        <div class="widget-title bg_ly">           
            <h5 style="width:80%" data-toggle="collapse" href="#pro_ProductInformation">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold">器械信息</span> 
                <span ng-bind="AccurProduct.Competence.ShowInfo"></span>
            </h5>
        </div>
        <div id="pro_ProductInformation" class="widget-content nopadding collapse in">
            <div ng-product-view="AccurProduct" ng-model="AccurProduct.data" ng-service="AccurProduct.Service" ng-comp="AccurProduct.Competence"></div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <h5 data-toggle="collapse" href="#pro_AdditionalInformation">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold">附件信息</span>            
            </h5>
        </div>
        <div id="pro_AdditionalInformation" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <div ng-img-list="img" ng-model="PageData.orderFile.images"></div>
            </div>
            <div class="control-group">
                <label style="width:100%">
                    附件备注：<span ng-bind="PageData.orderFile.remark"></span>
                </label>
            </div>
        </div>
    </div>
</div>