<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5 data-toggle="collapse" href="#back_surgery">患者信息</h5>
        </div>
        <div id="back_surgery" class="widget-content nopadding collapse in">
            <div class="control-group">
                <label>
                    患者名称：<span ng-bind="PageData.patientName"></span>
                </label>
                <label>
                    患者性别：<span ng-bind="PageData.patientSexName"></span>
                </label>
                <label>
                    患者年龄：<span ng-bind="PageData.patientAge"></span>
                </label>
            </div>
            <div class="control-group ">
                <label>
                    入院时间：<span ng-bind="PageData.patientEntryDate"></span>
                </label>
                <label>
                    住院病号：<span ng-bind="PageData.patientHPNo"></span>
                </label>
                <label>
                    住院病区：<span ng-bind="PageData.patientWard"></span>
                </label>
            </div>
            <div class="control-group">
                <label>
                    住院病房：<span ng-bind="PageData.patientRoom"></span>
                </label>
                <label>
                    病房床号：<span ng-bind="PageData.patientBedNo"></span>
                </label>
                <label>
                    植入物情况：{{PageData.retrieveIsNeeded=="Y"?"":"不"}}需要取出
                </label>
            </div>
            <div class="control-group">
                <label>
                    取出日期：<span ng-bind="PageData.retrieveEstDate"></span>
                </label>
                <label style="width:60%">
                    取出描述：<span ng-bind="PageData.retrieveDesc"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5 data-toggle="collapse" href="#back_Materials">物料返库信息</h5>
        </div>
        <div class="widget-content nopadding collapse in" id="back_Materials">
            <div class="control-group ">
                <div class="main-box-body clearfix" style="width: 100%;">
                    <div class="table-responsive">
                        <table class="table table-bordered tab-striped">
                            <thead>
                                <tr>
                                    <th><span>序号</span></th>
                                    <th><span>品牌名称</span></th>
                                    <th><span>产品线</span></th>
                                    <th><span>物料编码</span></th>
                                    <th><span>物料名称</span></th>
                                    <th><span>物料类型</span></th>
                                    <th><span>规格</span></th>
                                    <th><span>批次</span></th>
                                    <th><span>使用类型</span></th>
                                    <th><span>数量</span></th>
                                    <th><span>返库仓库</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in PageData.feedBack">
                                    <td>{{$index+1}}</td>
                                    <td><span ng-bind="row.medBrandName"></span></td>
                                    <td><span ng-bind="row.medProdLnName"></span> </td>
                                    <td><span ng-bind="row.medMICode"></span></td>
                                    <td><span ng-bind="row.medMIName"></span></td>
                                    <td><span ng-bind="row.categoryByPlatformName"></span></td>
                                    <td><span ng-bind="row.specification"></span></td>
                                    <td><span ng-bind="row.lotSerial"></span></td>
                                    <td><span ng-bind="row.useTypeName"></span></td>
                                    <td><span ng-bind="row.useQty"></span></td>
                                    <td><span ng-bind="row.zoneName"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5 data-toggle="collapse" href="#back_File">图片信息</h5>
        </div>
        <div id="back_File" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <div ng-img-list="img" ng-model="FeedBack.images"></div>
            </div>
            <div class="control-group">
                <label style="width:100%">
                    图片说明：<span ng-bind="FeedBack.remark"></span>
                </label>
            </div>
        </div>
    </div>
</div>