<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_ly">  
            <h5 data-toggle="collapse" href="#back_surgery">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold">患者信息</span> 
            </h5>
        </div>
        <div id="back_surgery" class="widget-content nopadding collapse in">
            <div class="control-group">
                <label>
                    姓名：<span ng-bind="PageData.patientName"></span>
                </label>
                <label>
                    性别：<span ng-bind="PageData.patientSexName"></span>
                </label>
                <label>
                    年龄：<span ng-bind="PageData.patientAge"></span>
                </label>
            </div>
            <div class="control-group ">
                <label>
                    入院日期：<span ng-bind="PageData.patientDateFmtYMDW"></span>    <!--patientEntryDate 修改成 patientDateFmtYMDW-->
                </label>
                <label>
                    住院号：<span ng-bind="PageData.patientHPNo"></span>
                </label>
                <label>
                    病区：<span ng-bind="PageData.patientWard"></span>
                </label>
            </div>
            <div class="control-group">
                <label>
                    病房：<span ng-bind="PageData.patientRoom"></span>
                </label>
                <label>
                    床号：<span ng-bind="PageData.patientBedNo"></span>
                </label>
                <label>
                    植入物取出：{{PageData.retrieveIsNeeded=="Y"?"":"不"}}需要
                </label>
            </div>
            <div class="control-group">
                <label>
                    取出日期：<span ng-bind="PageData.retrieveEstDateFmtYMDW"></span>     <!--retrieveEstDate 修改成 retrieveEstDateFmtYMDW-->
                </label>
                <label style="width:60%">
                    取出描述：<span ng-bind="PageData.retrieveDesc"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <h5 data-toggle="collapse" href="#back_Materials">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold"> 器械消耗信息</span>
            </h5>
        </div>
        <div class="widget-content nopadding collapse in" id="back_Materials">
            <div class="control-group ">
                <div class="main-box-body clearfix" style="width: 100%;">
                    <div class="table-responsive">
                        <table class="table table-bordered tab-striped">
                            <thead>
                                <tr>
                                    <th><span>序号</span></th>
                                    <th><span>品牌</span></th>
                                    <th><span>产品线</span></th>
                                    <th><span>物料编码</span></th>
                                    <th><span>物料名称</span></th>
                                    <th><span>类型</span></th>
                                    <th><span>规格</span></th>
                                    <th><span>批次</span></th>
                                    <th><span>数量</span></th>
                                    <th><span>使用</span></th>
                                    <th><span>出库清单</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in PageData.feedBack.medMaterial">
                                    <td>{{$index+1}}</td>
                                    <td><span ng-bind="row.medBrandName"></span></td>
                                    <td><span ng-bind="row.medProdLnName"></span> </td>
                                    <td><span ng-bind="row.medMICode"></span></td>
                                    <td><span ng-bind="row.medMIName"></span></td>
                                    <td><span ng-bind="row.categoryByPlatformName"></span></td>
                                    <td><span ng-bind="row.specification"></span></td>
                                    <td><span ng-bind="row.lotSerial"></span></td>
                                    <td><span ng-bind="row.useQty"></span></td>
                                    <td><span ng-bind="row.useTypeName"></span></td>
                                    <td>{{row.isInSODetail=="Y"?"内":"外"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <h5 data-toggle="collapse" href="#back_File">
                <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
                <span class="oms-web-h5-fold"> 附件信息</span>
            </h5>
        </div>
        <div id="back_File" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <div ng-img-list="img" ng-model="FeedBack.images"></div>
            </div>
            <div class="control-group">
                <label style="width:100%">
                    附件备注：<span ng-bind="FeedBack.remark"></span>
                </label>
            </div>
        </div>
    </div>
</div>