
<div class="widget-box" ng-repeat="lib in PageData.outBounds">
    <div class="widget-title bg_ly">
        <h5 style="width:80%" data-toggle="collapse" href="#{{lib.wONo}}">
            <span class="icon oms-web-icon-fold"><i class="fa icon-chevron-down"></i></span>
            <span class="oms-web-h5-fold"> 出库单号：<span ng-bind="lib.wONo"></span></span>
            <span ng-bind="lib.ShowInfo"></span>
        </h5>
    </div>
    <div class="widget-content nopadding collapse in" id="{{lib.wONo}}">
        <div class="control-group ">
            <label>
                状态：<span class="red" ng-bind="lib.statusName"></span>
            </label>
            <label>
                仓库：<span ng-bind="lib.medMIWarehouseName"></span>
            </label>
            <label>
                创建：<span ng-bind="lib.createByName"></span> <span ng-bind="lib.createDate?lib.createDate:'-'"></span>
            </label>
            <a ng-show="(lib.status=='WOSTS00010')&&View.Competence.sign" class="btn btn-warning" ng-click="LivraryConfig.OBSign(lib)"><i class="fa fa-vine"></i>签收</a>
        </div>
        <div class="control-group" >
            <label style="width:100%">
                出库指示：<span ng-bind="lib.wsNotes.wHSpecialNotes"></span>
            </label>
        </div>
        <div class="control-group ">
            <div class="main-box-body clearfix" style="max-height: 450px; overflow: auto; width: 100%;">
                <div class="table-responsive">
                    <table class="table table-bordered tab-striped">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>品牌</span></th>
                                <th><span>产品线</span></th>
                                <th><span>物料编码</span></th>
                                <th><span>物料名称</span></th>
                                <th><span>规格</span></th>
                                <th><span>类型</span></th>
                                <th><span>数量</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in lib.Material" class="ng-scope ng-isolate-scope">
                                <td>{{$index+1}}</td>
                                <td><span ng-bind="row.medBrandCodeName"></span></td>
                                <td><span ng-bind="row.medProdLnCodeName"></span></td>
                                <td><span ng-bind="row.medMICode"></span></td>
                                <td><span ng-bind="row.medMICodeName"></span></td>
                                <td><span ng-bind="row.specification"></span></td>
                                <td><span ng-bind="row.categoryByPlatformName"></span></td>
                                <td><span ng-bind="row.reqQty"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-ob-sign="" ng-model="LivraryConfig.Order" ng-operat="LivraryConfig.Operat"></div>