<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_ly" data-toggle="collapse" href="#BaseInformation">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5>收货信息 [货主：<span ng-bind="PageData.sOOIOrgCodeName"></span>]</h5>
        </div>
        <div class="widget-content nopadding collapse in" id="BaseInformation">
            <div class="control-group ">
                <label>
                    收货人：<span ng-bind="PageData.deliveryContact"></span>
                </label>
                <label>
                    电话：<span ng-bind="PageData.deliveryrMobile"></span>
                </label>
                <label>
                    配送：<span ng-bind="PageData.iniitCarrierTransTypeName"></span>
                </label>
            </div>
            <div class="control-group ">
                <label style="width:100%">
                    地址：
                    <span ng-bind="PageData.deliveryProvinceName"></span>
                    <span ng-bind="PageData.deliveryCityName"></span>
                    <span ng-bind="PageData.deliveryDistrictName"></span>
                    <span ng-bind="PageData.deliveryAddress"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly" data-toggle="collapse" href="#SurgeryInformation">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5>手术信息</h5>
        </div>
        <div id="SurgeryInformation" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <label>
                    医院：<span ng-bind="PageData.initHPCodeName"></span>
                </label>
                <label>
                    科室：<span ng-bind="PageData.initWardDeptCodeName"></span>
                </label>
                <label>
                    医生：<span ng-bind="PageData.initDTCodeName"></span><span style="color:green">[<span ng-bind="PageData.initIsLocalName"></span>]</span>
                </label>
            </div>
            <div class="control-group">
                <label style="width:100%;">
                    医院要求：<span ng-bind="PageData.initHPPreferenceDesc"></span>
                </label>
            </div>
            <div class="control-group">
                <label style="width:100%;">
                    医生要求：<span ng-bind="PageData.initDTOperationPreferenceDesc"></span>
                </label>
            </div>
            <div class="control-group">
                <label>
                    手术日期：<span ng-bind="PageData.DataFmtYMDW"></span>
                </label>
                <label style="width:60%">
                    诊断信息：<span ng-bind="PageData.initDiseaseInfo"></span>
                </label>
            </div>
            <div class="control-group ">
                <label style="width:100%;">
                    患者信息：<span ng-bind="PageData.initPatientInfo"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly" data-toggle="collapse" href="#ProductInformation">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5>
                器械信息<span ng-bind="singleProduc.Competence.ShowInfo"></span>
            </h5>
        </div>
        <div id="ProductInformation" class="widget-content nopadding collapse in">
            <div ng-product-view="singleProductView" ng-model="singleProduc" ng-service="singleProduc.Service" ng-comp="singleProduc.Competence"></div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly" data-toggle="collapse" href="#AdditionalInformation">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5>附件信息</h5>
        </div>
        <div id="AdditionalInformation" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <div ng-img-list="img" ng-model="PageData.initFile.images"></div>
            </div>
            <div class="control-group">
                <label style="width:100%">
                    附件备注：<span ng-bind="PageData.initFile.remark"></span>
                </label>
            </div>
        </div>
    </div>
</div>
