<div class="row" ng-controller="ReconciliationDetailController" ng-init="Service.Init()">
    <div class="tools">
        <h5 style="float:left; font-weight:bold; margin-left:8px;">
            <i class="fa fa-file-archive-o"></i>
            对账单管理
        </h5>
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="Service.Submit()"><i class="fa fa-save"></i> 提交</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div ng-img="img" ng-model="file" style="height:0px;width:0px;"></div>
    <div>
        <div class="tab-content">
            <div>
                <div class="row-fluid">
                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" href="#Information">基础对账信息</h5>
                        </div>
                        <div id="Information" class="widget-content nopadding collapse in">
                            <div class="control-group">
                                <div class="Vessel">
                                    <span class="required">*</span>
                                    对账医院：<span ng-select-base="hosptail" ng-model="RecInfo.hPCode" ng-param="{}"></span>
                                </div>
                                <div class="Vessel Second">
                                    <span style="float:left;line-height:35px;">对账信息：</span>
                                    <span class="input-group">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span ng-bind="RecInfo.hSOASourceTypeName"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="row in Service.OrderSource">
                                                    <a href="javascript:void(0)" ng-click="Service.ChangeOrderSource(row)" ng-bind="row.text"></a>
                                                </li>
                                            </ul>
                                        </span>
                                        <input type="text" class="Input" placeholder="请选择对账单来源后输入对账单票据号">
                                    </span>
                                </div>
                            </div>

                            <div class="control-group ">
                                <div class="Vessel">
                                    对账类型：<span ng-dictionary="HSOATP" ng-model="RecInfo.hSOAType"></span>
                                </div>
                                <div class="Vessel Second">
                                    <span class="Text">对账时间：</span>
                                    <span class="Left" ng-show-data="" ng-model="RecInfo.hSOADateFrom"></span>
                                    <div class="Text"> 至</div>
                                    <span class="Left" ng-show-data="" ng-model="RecInfo.hSOADateTo"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="Vessel">
                                    制 单 人：<input type="text" ng-model="RecInfo.hSOAIssueByName" />
                                </div>
                                <div class="Vessel">
                                    <span class="Text">制单日期：</span>
                                    <span class="Left" ng-show-data="" ng-model="RecInfo.hSOAIssueDate"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="Vessel All">
                                    医院备注：<input type="text" class="Input" ng-model="RecInfo.hSOAHospitalRemark" placeholder="请输入医院对账单的备注说明" />
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="Vessel All">
                                    业务说明：<input type="text" class="Input" ng-model="RecInfo.hSOABizDesc" placeholder="请输入处理业务说明" />
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="Vessel All">
                                    备注说明：<input type="text" class="Input" ng-model="RecInfo.hSOARemark" placeholder="请输入对账单备注说明" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" style="width:80%;" href="#BillInfo">对账明细</h5>
                            <a class="btn" href="javascript:void(0)" ng-if="!RecInfo.hPCode"><i class="fa fa-folder-open"></i> 请选择对账医院</a>
                            <a class="btn" href="javascritp:void(0)" ng-if="RecInfo.hPCode" ng-click=""><i class="fa fa-folder-open"></i> 选择计费单</a>
                        </div>
                        <div id="BillInfo" class="widget-content nopadding collapse in">
                            <div ng-show="BillData.detail.length>0" class="main-box-body clearfix" style="padding: 15px; max-height: 450px; overflow: auto; width: 100%;">
                                <div class="table-responsive">
                                    <table style="width:1400px; min-width:100%; max-width:2000px;" class="table table-bordered tab-striped" st-table="BillData.detail" st-safe-src="rowCollection">
                                        <thead>
                                            <tr>
                                                <th><span>序号</span></th>
                                                <th><span>计费单编号</span> </th>
                                                <th><span>医院物资编码</span> </th>
                                                <th><span>耗材名称 </span> </th>
                                                <th><span>品牌</span> </th>
                                                <th><span>规格</span> </th>
                                                <th><span>材料</span></th>
                                                <th><span>待对账数</span></th>
                                                <th><span>对账数</span></th>
                                                <th><span>有效日期</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in RecInfo.detail">
                                                <td>
                                                    <span ng-bind="$index"></span>
                                                    <input type="hidden" ng-model="row.hOFNLineSeqNo" />
                                                </td>
                                                <td><span ng-bind="row.text"></span></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="control-group " ng-if="!BillData.detail.length>0">
                                <label style="width:100%;color:red;" ng-click="">请选择计费单对账</label>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" style="width:80%" href="#AdditionalInformation">图片信息</h5>
                            <a class="btn j_file_panel" href="javascript:void(0)">  <i class="fa fa-image"></i>   添加图片 <div ng-file="file" ng-model="file"></div>   </a>
                        </div>
                        <div id="AdditionalInformation" class="widget-content nopadding collapse in">
                            <div class="control-group ">
                                <div ng-img-list="img" ng-comp="{delImg:true}" ng-model="RecInfo.images"></div>
                                <label style="opacity:0.5;width:100%;" ng-show="!RecInfo.images.images.length">
                                    添加点图片丰富您的订单吧，
                                    最多支持上传5张图片
                                </label>
                            </div>
                            <div class="control-group">
                                <label style="width:100%">
                                    图片说明：<input type="text" style="width:78%;" placeholder="对您的图片说点什么吧..." ng-model="RecInfo.eventReasonDesc" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tools">
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="Service.Submit()"><i class="fa fa-save"></i> 提交</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
</div>