<span>
    <select ng-model="ngModel.deliveryProvinceCode">
        <option value="">省</option>
        <option ng-repeat="item in AreaController.Province" value="{{item.divCode}}">{{item.divName}}</option>
    </select>
    <select ng-model="ngModel.deliveryCityCode">
        <option value="">市</option>
        <option ng-repeat="item in AreaController.City" value="{{item.divCode}}">{{item.divName}}</option>
    </select>
    <select ng-model="ngModel.deliveryDistrictCode">
        <option value="">区</option>
        <option ng-repeat="item in AreaController.Township" value="{{item.divCode}}">{{item.divName}}</option>
    </select>
</span>