<div ng-slide="DoctorList.IsEdit" style="display:none;">
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="DoctorJump.Save()"><i class="fa fa-pencil"></i> 保存</a>
            <a class="btn btn-primary" ng-click="DoctorJump.isEdit(false)"><i class="fa  fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#DepartmentInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>医生信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="DepartmentInformation">
                <div class="control-group ">
                    <label>
                        医院名称：{{DoctorDetail.Info.hPCodeName}}
                    </label>
                    <label ng-show="!DoctorList.options.wardDeptCode">
                        <span class="required">*</span>科室名称：
                        <select ng-model="DoctorDetail.Info.wardDeptCode" ng-change="SelectInfo.Department.change(item)">
                            <option value="">请选择科室</option>
                            <option ng-repeat="item in SelectInfo.Department.dic" ng-selected="item.id==DoctorDetail.Info.wardDeptCode" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label ng-show="DoctorList.options.wardDeptCode">
                        科室名称：{{DoctorDetail.Info.wardDeptCodeName}}
                    </label>
                    <label>
                        科室编码：{{DoctorDetail.Info.wardDeptCode}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        <span class="required">*</span>医生姓名：<input type="text" placeholder="请输入医生姓名" ng-model="DoctorDetail.Info.dTName" />
                    </label>
                    <label>
                        <span class="required">*</span>医生级别：
                        <select ng-model="DoctorDetail.Info.dTGrade" ng-change="SelectInfo.dTGrade.change(item)">
                            <option value="">请选择医生级别</option>
                            <option ng-repeat="item in SelectInfo.dTGrade.dic" ng-selected="item.id==DoctorDetail.Info.dTGrade" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label ng-show="buttonList.isLocal">
                        <span style="float:left;line-height:25px;">医生归属：</span>
                        <input type="checkbox" id="checkbox_c999" class="chkbox" ng-checked="DoctorDetail.Info.isLocalCheck" ng-model="DoctorDetail.Info.isLocalCheck" />
                        <label for="checkbox_c999" style="float:left"></label>
                        <span ng-show="DoctorDetail.Info.isLocalCheck" style="line-height: 25px;"> 本院</span>
                        <span ng-show="!DoctorDetail.Info.isLocalCheck" style="line-height: 25px;">非本院</span>
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        <span class="required">*</span>工作编号：<input type="text" placeholder="请输入工作编号" ng-model="DoctorDetail.Info.dTIDCard" />
                    </label>
                    <label>
                        <span class="required">*</span>医生性别：
                        <select ng-model="DoctorDetail.Info.dTSex" ng-change="SelectInfo.dTSex.change(item)">
                            <option value="">请选择性别</option>
                            <option ng-repeat="item in SelectInfo.dTSex.dic" ng-selected="item.id==DoctorDetail.Info.dTSex" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label>
                        医生备注：<input type="text" placeholder="请输入医生备注" ng-model="DoctorDetail.Info.dTRemark" />
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        医生手机：<input type="text" placeholder="请输入医生手机" ng-model="DoctorDetail.Info.wardDeptTel" />
                    </label>
                    <label>
                        <span class="required">*</span>医生学历：
                        <select ng-model="DoctorDetail.Info.dTEducation" ng-change="SelectInfo.dTEducation.change(item)">
                            <option value="">请选择学历</option>
                            <option ng-repeat="item in SelectInfo.dTEducation.dic" ng-selected="item.id==DoctorDetail.Info.dTEducation" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label>
                        医生电话：<input type="text" placeholder="请输入医生电话" ng-model="DoctorDetail.Info.dTTel" />
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        医生邮箱：<input type="text" placeholder="请输入医生邮箱" ng-model="DoctorDetail.Info.dTEmail" />
                    </label>
                    <label style="width:67%">
                        <span style="float:left">医生地址：</span>
                        <textarea class="box-80" ng-model="DoctorDetail.Info.dTAddress" placeholder="请输入医生地址"></textarea>
                    </label>
                </div>
                <div class="control-group ">

                    <label style="width:67%">
                        <span style="float:left">医生喜好：</span>
                        <textarea class="box-80" ng-model="DoctorDetail.Info.dTOperationPreferenceDesc" placeholder="请输入医生喜好"></textarea>
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left">医生描述：</span>
                        <textarea class="box-80" ng-model="DoctorDetail.Info.wardDeptDesc" placeholder="请输入描述信息"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#DocContacts">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>联系人信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="DocContacts">
                <div class="main-box-body clearfix">
                    <div style="min-height:100px">
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th><span>序号</span></th>
                                    <th><span>联系姓名</span></th>
                                    <th><span>联系手机</span></th>
                                    <th><span>联系电话</span></th>
                                    <th><span>联系邮箱</span></th>
                                    <th><span>联系用途</span></th>
                                    <th><span>通讯工具</span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人1姓名" ng-model="DoctorDetail.Info.contact1Name" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人1手机" ng-model="DoctorDetail.Info.contact1Mobile" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人1电话" ng-model="DoctorDetail.Info.contact1Tel" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人1邮箱" ng-model="DoctorDetail.Info.contact1Email" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人1用途" ng-model="DoctorDetail.Info.contact1Func" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人1通讯工具" ng-model="DoctorDetail.Info.contact1PMsgType" />
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人2姓名" ng-model="DoctorDetail.Info.contact2Name" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人2手机" ng-model="DoctorDetail.Info.contact2Mobile" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人2电话" ng-model="DoctorDetail.Info.contact2Tel" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人2邮箱" ng-model="DoctorDetail.Info.contact2Email" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人2用途" ng-model="DoctorDetail.Info.contact2Func" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人2通讯工具" ng-model="DoctorDetail.Info.contact2PMsgType" />
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人3姓名" ng-model="DoctorDetail.Info.contact3Name" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人3手机" ng-model="DoctorDetail.Info.contact3Mobile" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人3电话" ng-model="DoctorDetail.Info.contact3Tel" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人3邮箱" ng-model="DoctorDetail.Info.contact3Email" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人3用途" ng-model="DoctorDetail.Info.contact3Func" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入联系人3通讯工具" ng-model="DoctorDetail.Info.contact3PMsgType" />
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>