
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">我的地址列表</h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-click="AddressJumpSever.Add()">新增</a>
                    <a class="btn btn-primary" ng-click="AddressJumpSever.Edit()">编辑</a>
                    <a class="btn btn-primary" ng-click="AddressJumpSever.View()">详情</a>
                </span>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="AddressList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>地址类型</span></th>
                                <th><span>联系人</span></th>
                                <th><span>手机</span> </th>
                                <th><span>省</span></th>
                                <th><span>市</span></th>
                                <th><span>区</span></th>
                                <th><span>地址</span></th>
                                <th><span>默认地址</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in AddressList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.addressTypeName}}</span></td>
                                <td><span>{{row.contact}}</span></td>
                                <td><span>{{row.mobile}}</span></td>
                                <td><span>{{row.provinceCodeName}}</span></td>
                                <td><span>{{row.cityCodeName}}</span></td>
                                <td><span>{{row.districtCodeName}}</span></td>
                                <td><span>{{row.address}}</span></td>
                                <td><span>{{row.isDefaultPerAddressTypeName}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
    <ng-dialog ng-model="AddressView.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                维护姓名：  {{AddressView.Info.contact}}
            </div>
            <div class="col-lg-5">
                手机号码 ：  {{AddressView.Info.mobile}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                送货方式： {{AddressView.Info.carrierTransTypeName}}
            </div>
            <div class="col-lg-5">
                地址类型 ： {{AddressView.Info.addressTypeName}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                所在省份： {{AddressView.Info.provinceCodeName}}
            </div>
            <div class="col-lg-5">
                所在市级： {{AddressView.Info.cityCodeName}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                所在区县： {{AddressView.Info.districtCode}}
            </div>
            <div class="col-lg-5">
                地址默认： {{AddressView.Info.isDefaultPerAddressType=="Y"?"默认":"非默认"}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                详细地址： {{AddressView.Info.address}}
            </div>
        </div>
    </ng-dialog>
</div>