<div class="row">
    <div class="tools">
        <h5 style="float:left;">仓库信息</h5>
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="whPageInfo.Save()"><i class="fa fa-save"></i> 保存</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#PersonalInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>仓库详情</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="PersonalInformation">
                <div class="control-group ">
                    <label>
                        <span class="required">*</span> 仓库名称：<input type="text" ng-model="whPageInfo.Info.wHName" placeholder="请输入货主名" />
                    </label>
                    <label>
                        仓库全称：<input type="text" ng-model="whPageInfo.Info.wHFullName" placeholder="请输入仓库全称" />
                    </label>
                    <label>
                        仓库邮编：<input type="text" ng-model="whPageInfo.Info.wHPostcode" placeholder="请输入仓库邮编" />
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:60%">
                        <span class="required">*</span>仓库区域:<span ng-area="" ng-model="whPageInfo.Info"></span>
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span class="required">*</span>仓库地址：{{whPageInfo.Info.wHProvinceCodeName}} {{whPageInfo.Info.wHCityCodeName}} {{whPageInfo.Info.wHDistrictCodeName}}  <input type="text" style="width:60%" ng-model="whPageInfo.Info.wHAddress" placeholder="请输入该仓库地址" />
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        仓库总机：<input type="text" ng-model="whPageInfo.Info.wHTel" placeholder="请输入仓库总机" />
                    </label>
                    <label ng-show="whPageInfo.isCheck">
                        <span style="float:left;line-height:25px;">带订单处理：</span>
                        <input type="checkbox" id="checkbox_c2" class="chkbox" ng-checked="whPageInfo.Info.iswHWithOrderCenter" ng-model="whPageInfo.Info.iswHWithOrderCenter" />
                        <label for="checkbox_c2" style="float:left"></label>
                        <span ng-show="whPageInfo.Info.iswHWithOrderCenter" style="line-height: 25px;"> 处理</span>
                        <span ng-show="!whPageInfo.Info.iswHWithOrderCenter" style="line-height: 25px;">不处理</span>
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        仓库描述：<input type="text" style="width:80%" ng-model="whPageInfo.Info.wHDesc" placeholder="请输入该仓库描述" />
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left"> 仓库备注：</span>
                        <textarea class="box-80" ng-model="whPageInfo.Info.remark" placeholder="请输入该仓库备注"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#TopContacts">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>联系人信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="TopContacts">
                <div class="control-group ">
                    <span>&nbsp;&nbsp;第一联系人信息：</span>
                </div>
                <div class="control-group">
                    <label>
                        <span class="required">*</span>联系姓名:<input type="text" ng-model="whPageInfo.Info.contact1Name" placeholder="请输入第一联系人姓名" />
                    </label>
                    <label>
                        <span class="required">*</span>联系手机:<input type="text" ng-model="whPageInfo.Info.contact1Mobile" placeholder="请输入第一联系人手机" />
                    </label>
                    <label>
                        <span class="required">*</span>通信工具:
                        <select ng-model="whPageInfo.Info.contact1PMsgType" style="min-width:140px">
                            <option value="">请选择通信工具</option>
                            <option ng-repeat="item in SelectInfo.contact1PMsgType.dic" ng-selected="item.id==whPageInfo.Info.contact1PMsgType" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        <span class="required">*</span>联系邮箱:<input type="text" onkeyup="this.value=this.value.replace(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/)" ng-model="whPageInfo.Info.contact1Email" placeholder="请输入第一联系人邮箱" />
                    </label>
                    <label>
                        <span class="required">*</span>联系电话:<input type="text" ng-model="whPageInfo.Info.contact1Tel" placeholder="请输入第一联系人电话" />
                    </label>
                    <label>
                        <span class="required">*</span>联系用途:
                        <select ng-model="whPageInfo.Info.contact1Func" style="min-width:140px">
                            <option value="">请选择联系用途</option>
                            <option ng-repeat="item in SelectInfo.contact1Func.dic" ng-selected="item.id==whPageInfo.Info.contact1Func" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group ">
                    <span>&nbsp;&nbsp;第二联系人信息：</span>
                </div>
                <div class="control-group">
                    <label>
                        联系姓名:<input type="text" ng-model="whPageInfo.Info.contact2Name" placeholder="请输入第二联系人姓名" />
                    </label>
                    <label>
                        联系手机:<input type="text" ng-model="whPageInfo.Info.contact2Mobile" placeholder="请输入第二联系人手机" />
                    </label>
                    <label>
                        通信工具:
                        <select ng-model="whPageInfo.Info.contact2PMsgType" style="min-width:140px">
                            <option value="">请选择通信工具</option>
                            <option ng-repeat="item in SelectInfo.contact2PMsgType.dic" ng-selected="item.id==whPageInfo.Info.contact2PMsgType" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        联系邮箱:<input type="text" ng-model="whPageInfo.Info.contact2Email" onkeyup="this.value=this.value.replace(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/)" placeholder="请输入第二联系人邮箱" />
                    </label>
                    <label>
                        联系电话:<input type="text" ng-model="whPageInfo.Info.contact2Tel" placeholder="请输入第二联系人电话" />
                    </label>
                    <label>
                        联系用途:
                        <select ng-model="whPageInfo.Info.contact2Func" style="min-width:140px">
                            <option value="">请选择联系用途</option>
                            <option ng-repeat="item in SelectInfo.contact2Func.dic" ng-selected="item.id==whPageInfo.Info.contact2Func" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group ">
                    <span>&nbsp;&nbsp;第三联系人信息：</span>
                </div>
                <div class="control-group">
                    <label>
                        联系姓名:<input type="text" ng-model="whPageInfo.Info.contact3Name" placeholder="请输入第三联系人姓名" />
                    </label>
                    <label>
                        联系手机:<input type="text" ng-model="whPageInfo.Info.contact3Mobile" placeholder="请输入第三联系人手机" />
                    </label>
                    <label>
                        通信工具:
                        <select ng-model="whPageInfo.Info.contact3PMsgType" style="min-width:140px">
                            <option value="">请选择通信工具</option>
                            <option ng-repeat="item in SelectInfo.contact3PMsgType.dic" ng-selected="item.id==whPageInfo.Info.contact3PMsgType" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        联系邮箱:<input type="text" ng-model="whPageInfo.Info.contact3Email" onkeyup="this.value=this.value.replace(/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/)" placeholder="请输入第三联系人邮箱" />
                    </label>
                    <label>
                        联系电话:<input type="text" ng-model="whPageInfo.Info.contact3Tel" placeholder="请输入第三联系人电话" />
                    </label>
                    <label>
                        联系用途:
                        <select ng-model="whPageInfo.Info.contact3Func" style="min-width:140px">
                            <option value="">请选择联系用途</option>
                            <option ng-repeat="item in SelectInfo.contact3Func.dic" ng-selected="item.id==whPageInfo.Info.contact3Func" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="whPageInfo.Save()">保存</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
</div>



