
<div class="login" style="background-image: url('Content/style/img/bgs/lon.jpg?data=4'); background-size: cover; ">

    <div class="login-container">
        <h1>迈骆医疗OMS管理系统</h1>

        <div class="form">
            <div>
                <input type="text" ng-keyup="keyUp($event)" class="username" placeholder="请输入用户名" ng-model="SignData.loginName" />
            </div>
            <div>
                <input type="password" ng-keyup="keyUp($event)" class="password" placeholder="请输入密码" ng-model="SignData.password" />
            </div>
            <button type="submit" ng-click="Landed()">登 陆</button>
        </div>

    </div>
</div>