<div class="login" style="background-image: url('Content/style/img/bgs/lon.jpg?data=4'); background-size: cover; ">
    <header style="background-color: rgba(45,45,45,.45); height: 60px; color: #fff; padding: 10px; ">
        <img src=" Content/style/img/home/logo.png" style="height:45px;float:left;" />
        <span style="float:right;margin-top: 10px;margin-right: 20px">
            <a style=" color: #fff;" href="http://omsapiv2.med-log.cn:8081/oms-web/">订单管理系统</a><span> | </span>
            <a style=" color: #fff;" href="#">结算管理系统</a><span> | </span>
            <a style=" color: #fff;" href="http://wmstest.med-log.cn/SupplyChainAdvantage/Host.aspx">仓库管理系统</a><span> | </span>
             <!--<a class=" btn  dropdown-toggle" data-toggle="dropdown" style="color:#fff;" href="#">About关于我们</a>-->
          <div class="btn-group">

              <a class="btn  dropdown-toggle" data-toggle="dropdown" style="color:#fff; margin-left: -10px; margin-top: -4px;" href="#">About</a>
              <ul class="dropdown-menu  pull-right" style="opacity: 0.6">
                  <li><a href="#"><i class="icon-pencil"></i> 易手术</a></li>
                  <li><a href="#"><i class="icon-trash"></i> V 1.2.05</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><i class="i"></i> 迈骆医疗供应链 </a></li>
              </ul>
          </div>
        </span>
    </header>
    <div class="login-container">
        <h1 style="margin-left: 20%">易手术平台<span style="font-size:13px;"></span> </h1>
        <div class="form">
            <div>
                <input type="text" ng-keyup="keyUp($event)" class="username" placeholder="请输入用户名"
                       ng-model="SignData.loginName" />
            </div>
            <div>
                <input type="password" ng-keyup="keyUp($event)" class="password" placeholder="请输入密码"
                       ng-model="SignData.password" />
            </div>
            <button type="submit" ng-click="Landed()">登 陆</button>
        </div>

    </div>
    <footer style="background-color: rgba(45,45,45,0.8); height:50px; color: #fff; padding: 10px; position: absolute; bottom: 0px; width:100%;">
        <span>友情链接：<a style="color:#fff;" href="http://www.med-log.cn/">迈骆官网</a> | 迈骆医疗版权所有©2015-2016</span>
    </footer>
</div>