
<div class="login" >

    <div class="login-container">
        <h1>迈骆医疗OMS管理系统</h1>

        <div class="form" >
            <div>
                <input type="text" class="username" placeholder="请输入用户名" ng-model="SignData.loginName" />
            </div>
            <div>
                <input type="password" class="password" placeholder="请输入密码" ng-model="SignData.password" />
            </div>
            <button type="submit" ng-click="Landed()">登 陆</button>
        </div>

        <img src="Content/style/img/bgs/img_1.jpg" class="backimg"  />
    </div>
</div>