<div>
    <ng-dialog ng-model="ngOperat">
        <div class="row-fluid">
            <div class="widget-box" style="margin-top:0px;">
                <div class="widget-content">
                    <div class="control-group">
                        <label style="width:100%;">
                            <span style="float:left;">备注：</span> 
                            <textarea cols="2" rows="2" style="width:78%;height:50px;" ng-model="Service.remark"></textarea>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ng-dialog>
</div>