<span>
    <select ng-model="ngModel.deliveryProvinceCode" ng-options="item.divCode as item.divName for item in AreaController.Province">
        <option value="">省</option>
    </select>
    <select ng-model="ngModel.deliveryCityCode" ng-options="item.divCode as item.divName for item in AreaController.City">
        <option value="">市</option>
    </select>
    <select ng-model="ngModel.deliveryDistrictCode" ng-options="item.divCode as item.divName for item in AreaController.Township">
        <option value="">区</option>
    </select>
</span>