<div>
    <ng-dialog ng-model="ngOperat">
        <div style="display: inline-block; width: 99%; padding: 5px;">
            <div class="btn-group">

                <a class="btn" ng-class="{true: 'btn-info',false:'btn-primary'}[Pagein.categoryByPlatform!='IMPLANT']" ng-click="Service.GetMaterialListByCategory('IMPLANT')"><i class="fa fa-puzzle-piece"></i> 植入物</a>
                <a class="btn" ng-class="{true: 'btn-info',false:'btn-primary'}[Pagein.categoryByPlatform!='TOOL']" ng-click="Service.GetCheckis()" style="margin-right:45px;"><i class="fa fa-wrench"></i> 工具</a>
            </div>
            <div class="btn-group" ng-show="Pagein.categoryByPlatform=='TOOL'">
                <input type="radio" name="redio" value="" id="aa" ng-checked="Service.option" ng-click="Service.GetCheckon()" /> 工具通用
                <input type="radio" name="redio" value="" id="bb" ng-checked="!Service.option" ng-click="Service.GetCheckon()" style="margin-left:50px" /> 工具选用
            </div>
            <span ng-show="Pagein.categoryByPlatform=='IMPLANT'"></span>
            <span ng-show="!Service.option&&Pagein.categoryByPlatform=='TOOL'" class="btn-group" style="margin-top:4px">
                <label class="inp-chk" style="margin-left:15px;"><input type="checkbox" ng-checked="Service.productLine" ng-model="Service.productLine" ng-change="Service.QueryMaterialList()" />产品线通用</label>
                <label class="inp-chk"><input type="checkbox" ng-checked="Service.brandLine" ng-model="Service.brandLine" ng-change="Service.QueryMaterialList()" />品牌通用</label>
                <label class="inp-chk"><input type="checkbox" ng-checked="Service.all" ng-model="Service.all" ng-change="Service.QueryMaterialList()" />厂商通用</label>
            </span>
            <div class="input-group" style="float:right;width:250px;">
                <input type="text" class="form-control" placeholder="请输入物料编码、名称、规格"
                       style="padding:8px;" ng-model="Pagein.searchValue" ng-keyup="Service.UpEnter($event)">
                <a class="input-group-addon" href="javascript:void(0)" ng-click="Service.QueryMaterialList()"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div class="main-box clearfix">
            <div class="table-responsive" style="height:400px;max-height:400px;min-height:400px; overflow-y:auto">
                <table class="table table-bordered tab-striped">
                    <thead>
                        <tr>
                            <th><span>序号</span></th>
                            <th><span>物料编码</span></th>
                            <th><span>物料名称</span></th>
                            <th><span>物料规格</span></th>
                            <th><span>物料类型</span></th>            
                            <th ng-show="Pagein.categoryByPlatform=='TOOL'"><span>通用类型</span></th>
                            <td title="点击后全部物料添加" ng-click="Service.AddAllQty()"><span class="selected"> <img src="./Content/style/img/KaiXinIcon/quantityDemanded.png" /><a style="color: #436EEE" href="javascript:void(0)"> 需求数量</a></span> </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'selected':row.reqQty>0}" ng-dblclick="Service.AddreqQty(row)" ng-repeat="row in Service.MaterialList">
                            <td>{{$index+1}}</td>
                            <td>
                                <span ng-bind="row.medMICode"></span>
                            </td>
                            <td>
                                <span ng-bind="row.medMIName"></span>
                            </td>
                            <td>
                                <span ng-bind="row.specification"></span>
                            </td>
                            <td>
                                <span ng-bind="row.categoryByPlatformName"></span>
                            </td>
                            <td ng-show="Pagein.categoryByPlatform=='TOOL'">
                                <span ng-bind="row.applyCommonTypeName"></span>
                            </td>

                            <td>
                                <input type="number" value="0" ng-model="row.reqQty" style="width:60px" min="0" /> <span ng-bind="row.medMIUnitName"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-pagein="page" ng-model="Pagein"></div>
        </div>
    </ng-dialog>
</div>