<div>
    <ng-dialog ng-model="ngMaterialsTemplate">
        <div style="display: inline-block; width: 99%; padding: 5px;">
            <div class="input-group" style="float:right;width:250px;">
                <input type="text" class="form-control" placeholder="请输入模板名称"
                       style="padding:8px;" ng-model="Pagein.tmplName" ng-keyup="Service.UpEnter($event)">
                <a class="input-group-addon" href="javascript:void(0)" ng-click="Service.QueryMaterialsTemplateList()"><i class="fa fa-search"></i></a>
            </div>
        </div>

        <div class="main-box-body clearfix" >
            <div class="table-responsive" style="max-height:450px;min-height:300px; overflow:auto;">
                <table class="table table-bordered tab-striped" st-table="Service.List">
                    <thead>
                        <tr>
                            <th><span>序号</span></th>
                            <th><span>模板名称</span></th>
                            <th><span>模板类型</span></th>
                            <th><span>描述</span></th>
                            <th><span>许可</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in Service.List" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="Service.Select(row)">
                            <td>{{$index+1}}</td>
                            <td>
                                <span ng-bind="row.tmplName"></span>
                            </td>
                            <td>
                                <span ng-bind="row.tmplTypeName"></span>
                            </td>
                            <td>
                                <span ng-bind="row.tmplDesc"></span>
                            </td>
                            <td>
                                <span ng-bind="row.tmplAccessTypeName"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-pagein="page" ng-model="Pagein"></div>
        </div>
    </ng-dialog>
</div>