
<div class="row">
    <div class="tools">
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="Service.Save()"><i class="fa fa-pencil"></i> 保存</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa  fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#DetailBasicInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>物料基本信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="DetailBasicInformation">
                <div class="control-group ">
                    <label>
                        货主名称：<span ng-bind="PageData.oIOrgCodeName"></span>
                    </label>
                    <label>
                        品牌：<span ng-bind="PageData.medBrandCodeName"></span>
                    </label>
                    <label>
                        产品线：<span ng-bind="PageData.medProdLnCodeName"></span>
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        <span class="required">*</span>
                        物料编码：<input type="text" placeholder="请输入物料编码" ng-model="PageData.medMICode" />
                    </label>
                    <label>
                        <span class="required">*</span>
                        物料类型：<!--<span ng-dictionary="MMICTG" ng-model="PageData.categoryByPlatform"></span>-->
                        <select ng-model="PageData.categoryByPlatform" ng-change="SelectedInfo.MaterialType.change()">
                            <option value="">请选择...</option>
                            <option ng-repeat="item in SelectedInfo.MaterialType.dic" ng-selected="item.id==PageData.categoryByPlatform" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                    <label>
                        <span class="required">*</span>
                        通用性：<!--<span ng-dictionary="MIACTP" ng-model="PageData.applyCommonType"></span>-->
                        <select ng-model="PageData.applyCommonType">
                            <option value="">请选择...</option>
                            <option ng-repeat="item in SelectedInfo.Generality.dic" ng-selected="item.id==PageData.applyCommonType" value="{{item.id}}">{{item.text}}</option>
                        </select>
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        <span class="required">*</span>
                        物料名称：<input type="text" placeholder="请输入物料名称" ng-model="PageData.medMIName" />
                    </label>
                    <label>物料全称：<input type="text" placeholder="请输入物料全称" ng-model="PageData.medMIFullName" /></label>
                    <label>
                        <span class="required">*</span>
                        规格：<input type="text" placeholder="请输入物料规格" ng-model="PageData.specification" />
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        <span style="float:left;line-height:35px;">扫描信息：</span>
                        <span style="float:left;width:60px;" class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{PageData.isScanSupported=="Y"?"支持":"不支持" }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-click="Service.IsChecked(true,'isScanSupported')">支持</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="javascript:void(0)" ng-click="Service.IsChecked(false,'isScanSupported')">不支持</a></li>
                                </ul>
                            </span>
                            <input type="text" class="form-control" placeholder="请输入扫描码" ng-model="PageData.medMICodeScanned" style="width:90px">
                        </span>
                    </label>
                    <label>
                        <span style="float:left;line-height:25px;">无菌包装：</span>
                        <input type="checkbox" id="checkbox_c2" class="chkbox" ng-change="Service.IsChecked(disinfectionNeededCheck,'disinfectionNeeded')" ng-checked="PageData.disinfectionNeeded=='Y'" ng-model="disinfectionNeededCheck" />
                        <label for="checkbox_c2" style="float:left"></label>
                        <span ng-show="PageData.disinfectionNeeded=='Y'" style="line-height: 25px;">是</span>
                        <span ng-show="PageData.disinfectionNeeded!='Y'" style="line-height: 25px;">否</span>
                    </label>
                    <label>产品方向：<span ng-dictionary="MIDIRT" ng-model="PageData.direction"></span></label>
                </div>
                <div class="control-group">
                    <label>
                        <span class="required">*</span>
                        物料型号：<input type="text" placeholder="请输入物料型号" ng-model="PageData.model" />
                    </label>
                    <label>材料：<input type="text" placeholder="请输入材料说明" ng-model="PageData.materials" /></label>
                    <label>
                        <span class="required">*</span>使用说明：<input type="text" placeholder="请输入使用说明" ng-model="PageData.useInfo" />
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        <span class="required">*</span>
                        物料单位：<span ng-dictionary="MMIUNT" ng-model="PageData.medMIUnit"></span>
                    </label>
                    <label>
                        <span style="float:left;line-height:25px;">有效期：</span>
                        <input type="checkbox" id="checkbox_c3" class="chkbox" ng-change="Service.IsChecked(effectiveControlChecked,'effectiveControl')" ng-checked="PageData.effectiveControl=='Y'" ng-model="effectiveControlChecked" />
                        <label for="checkbox_c3" style="float:left"></label>
                        <span ng-show="PageData.effectiveControl=='Y'" style="line-height: 25px;">有</span>
                        <span ng-show="PageData.effectiveControl!='Y'" style="line-height: 25px;">无</span>
                    </label>
                </div>                
                <div class="control-group ">
                    <label style="width:100%">
                        备注：<input style="width:78%" type="text" placeholder="请输入备注信息" ng-model="PageData.remark" />
                    </label>
                </div>
            </div>
        </div>

        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#DetailCharacteristicInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>物料附加信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="DetailCharacteristicInformation">
                <div class="control-group">
                    <label>分类一：<input type="text" placeholder="请输入分类一信息" ng-model="PageData.medMIUserDefineClass1" /></label>
                    <label>分类二：<input type="text" placeholder="请输入分类二信息" ng-model="PageData.medMIUserDefineClass2" /></label>
                    <label>分类三：<input type="text" placeholder="请输入分类三信息" ng-model="PageData.medMIUserDefineClass3" /></label>
                </div>
                <div class="control-group">
                    <label>英文名称：<input type="text" placeholder="请输入物料英文名" ng-model="PageData.medMINameEN" /></label>
                    <label style="width:60%;">英文全称：<input type="text" style="width:78%;" placeholder="请输入英文名全称" ng-model="PageData.medMIFullNameEN" /></label>
                </div>
                <div class="control-group ">
                    <label>
                        合格证联数：<input type="number" style="text-align:right;" ng-model="PageData.certMultiQty" /> 联
                    </label>
                    <label style="width:60%">
                        注册证号：<input type="text" style="width:78%" placeholder="请输入物料注册证件号" ng-model="PageData.registryNo" />
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        第一标准：<span ng-dictionary="MMISTD" style="width:200px;" ng-model="PageData.standardCode1Source"></span>
                    </label>
                    <label style="width:60%">
                        标准编码：<input type="text" style="width:78%" placeholder="请输入第一标准产品编码" ng-model="PageData.standardCode1" />
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        第二标准：<span ng-dictionary="MMISTD" ng-model="PageData.standardCode2Source"></span>
                    </label>
                    <label style="width:60%">
                        标准编码：<input type="text" style="width:78%" placeholder="请输入第二标准产品编码" ng-model="PageData.standardCode2" />
                    </label>
                </div>
                <div class="control-group">
                    <label>
                        第三标准：<span ng-dictionary="MMISTD" ng-model="PageData.standardCode3Source"></span>
                    </label>
                    <label style="width:60%">
                        标准编码：<input type="text" style="width:78%" placeholder="请输入第三标准产品编码" ng-model="PageData.standardCode3" />
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#DetailManufacturerInfo">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>厂商原始信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="DetailManufacturerInfo">
                <div class="control-group ">
                    <label ng-if="!PageData.medMIInternalNo">
                        <span class="required">*</span>
                        厂商：<select ng-model="PageData.medMnfcOrgCode" ng-options="item.id as item.text for item in Material.MedManuFactureList">
                            <option value="">请选择厂商信息</option>
                        </select>
                    </label>
                    <label style="width:60%">
                        <span class="required">*</span>
                        编码：<input type="text" style="width:78%" placeholder="请输入厂家物料编码" ng-model="PageData.mnfcMedMICode" />
                    </label>
                </div>
                <div class="control-group">
                    <label>名称：<input type="text" placeholder="请输入厂家物料名称" ng-model="PageData.mnfcMedMIName" /></label>
                    <label style="width:60%">全称：<input type="text" style="width:78%" placeholder="请输入厂家物料全称" ng-model="PageData.mnfcMedMIFullName" /></label>
                </div>
                <div class="control-group">
                    <label>英文名称：<input type="text" placeholder="请输入厂家英文名称" ng-model="PageData.mnfcMedMINameEN" /></label>
                    <label style="width:60%;">英文全称：<input type="text" style="width:78%;" placeholder="请输入厂家英文全称" ng-model="PageData.mnfcMedMIFullNameEN" /></label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" style="width:80%" href="#DetailImageInformation">物料图片及附件</h5>
                <a class="btn j_file_panel" href="javascript:void(0)">
                    <i class="fa fa-image"></i>
                    附件上传
                    <form ng-file="file" ng-model="file"></form>
                </a>
            </div>
            <div class="widget-content nopadding collapse in" id="DetailImageInformation">
                <div class="control-group ">
                    <div ng-img="img" ng-comp="{delImg:true}" ng-model="PageData.attachmentForms[0].images"></div>
                    <label style="opacity:0.5;width:100%;" ng-show="!PageData.attachmentForms[0].images.length">
                        添加点图片丰富您的订单吧，
                        最多支持上传5张图片
                    </label>
                </div>
                <div class="control-group">
                    <label style="width:100%">
                        图片说明：<input type="text" style="width:78%;" placeholder="我是图片备注字段..." ng-model="PageData.attachmentForms[0].desc" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="Service.Save()"><i class="fa fa-pencil"></i> 保存</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa  fa-reply"></i> 返回</a>
        </span>
    </div>
</div>