<div class="row">
    <div class="tools">群组信息
        <h5 style="float:left;"></h5>
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="GroupDetail.saveGroup()">保存</a>
            <a class="btn btn-primary" ng-click="goView('app.comp.group.list')">返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#BaseInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>群组编辑</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="BaseInformation">
                <div class="control-group ">
                    <label >
                        <span class="required">*</span> 群组简称：<input type="text" ng-model="GroupDetail.GroupInfo.teamName" placeholder="请输入群组简称" />
                    </label>
                    <label>
                        <span class="required">*</span>群组全称：<input type="text" ng-model="GroupDetail.GroupInfo.teamFullName" placeholder="请输入群组全称" />
                    </label>
                    <label style="padding-left:29.5%">
                        <a class="btn btn-primary" ng-click="a()">编辑成员</a>
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        <span class="required" style="margin-top:-1px">*</span>群组成员：{{GroupDetail.nameList}}
                    </label>
                    <label>
                        <span class="required" style="margin-top:-1px">*</span> 成员备注：{{GroupDetail.nameDetail}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left">  账户备注：</span>
                        <textarea class="box-80" ng-model="GroupDetail.GroupInfo.remark" placeholder="请输入该群组的备注信息"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#CompetenceInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>群组成员</h5>
            </div>
            <div id="CompetenceInformation" class="widget-content nopadding collapse in">
                <div class="control-group ">
                </div>
                <div class="main-box-body clearfix">
                    <div class="table-responsive list-box" style="min-height:450px">
                        <table class="table table-bordered table-striped" st-table="GroupUserList">
                            <thead>
                                <tr>
                                    <th><span>序号</span></th>
                                    <th><span>成员姓名</span></th>
                                    <th><span>组织类型</span></th>
                                    <th><span>手机号码</span></th>
                                    <th><span>编辑状态</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in GroupUserList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{row.userName}}
                                    </td>
                                    <td>
                                        {{row.orgName}}
                                    </td>
                                    <td>
                                        {{row.loginMobileNo}}
                                    </td>
                                    <td>
                                        <span style="float:left" ng-click="selectNameList.addNameList()">新增</span>
                                        <span style="float:right" ng-click="selectNameList.deletNameList()">删除</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-pagein="page" ng-model="Pagein"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="GroupDetail.saveGroup()">保存</a>
            <a class="btn btn-primary" ng-click="goView('app.comp.group.list')">返回</a>
        </span>
    </div>
</div>




