
<div class="row">
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa  fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#BaseInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>模板信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="BaseInformation">
                <div class="control-group ">
                    <label style="width:100%;"> 货主信息：{{Detail.PageData.oIOrgCodeName}}</label>
                </div>
                <div class="control-group ">
                    <label>
                       模板名称：<span ng-bind="Detail.PageData.tmplName"></span>
                    </label>
                    <label>
                        模板全称：<span ng-bind="Detail.PageData.tmplFullName"></span>
                    </label>
                    <label>
                      模板类型：<span ng-bind="Detail.PageData.tmplTypeName"></span>
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                      模板权限：<span ng-bind="Detail.PageData.tmplAccessTypeName"></span>
                    </label>
                    <label style="width:60%">
                        模板描述：<span ng-bind="Detail.PageData.tmplDesc"></span>
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%;">
                        备注信息：<span ng-bind="Detail.PageData.remark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#ProductInformation">
                    物料信息
                    {{Detail.ProductCompetence.ShowInfo}}
                </h5>
            </div>
            <div id="ProductInformation" class="widget-content nopadding collapse in">
                <div ng-product-view="newProduct" ng-model="Detail.PageData" ng-service="Detail.ProductService" ng-comp="Detail.ProductCompetence"></div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa  fa-reply"></i> 返回</a>
        </span>
    </div>
</div>
