<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">{{title}}</h2>             
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="addSurgery()" ng-show="User.userInfo.orgType=='DL'&&!competence.approval&&!Competence.back&&!Competence.dealwith&&!Competence.approval&&!Competence.append"> <i class="fa fa-pencil"></i> 手术下单</a>
                    <a class="btn btn-primary" ng-click="editSurgery()" ng-show="competence.modify"> <i class="fa fa-clipboard"></i> 手术修改</a>
                    <a class="btn btn-primary" ng-click="editSurgery()" ng-show="Competence.submit"><i class="fa fa-check"></i>订单提交</a>
                    <a class="btn btn-primary" ng-click="ApprovalSurgery()" ng-show="Competence.approval"><i class="fa fa-eye"></i>订单审批</a>
                    <a class="btn btn-primary" ng-click="SignSurgery()" ng-show="Competence.sign"><i class="fa fa-pencil-square-o"></i>订单签收</a>
                    <a class="btn btn-primary" ng-click="DealSurgery()" ng-show="Competence.dealwith"><i class="fa fa-wrench"></i>订单处理</a>
                    <a class="btn btn-primary" ng-click="ApplyBack()" ng-show="Competence.apply"><i class="fa fa-steam"></i>返库申请</a>
                    <a class="btn btn-primary" ng-click="OrderBack()" ng-show="Competence.back"><i class="fa fa-legal"></i>返库处理</a>
                    <a class="btn btn-primary" ng-click="Additional()" ng-show="Competence.append"> <i class="fa fa-shopping-cart"></i>追加配货</a>
                    <a class="btn btn-primary" ng-click="showViewDetail()"><i class="fa fa-align-justify"></i>订单详情</a>
                </span>
                <div class="input-group" style="float:right;width:250px;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="请输入订单号"
                           style="padding:8px;" ng-model="Pagein.sONo">
                    <a class="input-group-addon" href="javascript:void(0)" ng-click="Integrated.GetOrderList()"><i class="fa fa-search"></i></a>
                </div>
            </header>
          
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box">
                    <table class="table table-bordered table-striped" st-table="Integrated.OrderList">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>订单编号</span></th>
                                <th><span>订单医院</span></th>
                                <th><span>订单医生</span></th>
                                <th><span>手术时间</span></th>
                                <th><span>下单人</span></th>
                                <th><span>下单时间</span></th>
                                <th ng-show="ListCompetence.initMedProdLnCodeName"><span>下单产品线</span></th>
                                <th><span>订单状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Integrated.OrderList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="showView(row.sONo)">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{row.sONo}}
                                </td>
                                <td>
                                    {{row.hPCodeName?row.hPCodeName:row.initHPCodeName}}
                                </td>
                                <td>
                                    {{row.dTCodeName?row.dTCodeName:row.initDTCodeName}}
                                </td>
                                <td>
                                    {{row.operationDate?row.operationDate:row.initOperationDate}}
                                </td>
                                <td>
                                    {{row.sOCreateByName}}
                                </td>
                                <td>
                                    {{row.createDate}}
                                </td>
                                <td ng-show="ListCompetence.initMedProdLnCodeName">
                                    {{row.initMedProdLnCodeName}}
                                </td>
                                <td>
                                    <span ng-class="(row.status=='SOSTS00200'||row.status=='SOSTS00040')?'red':''">{{row.statusName}}</span> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>