
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">产品线管理列表</h2>
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="ProLineDetailAdd.ShowAdd({})" ng-show="Server.Add">新增</a>
                    <a class="btn btn-primary" ng-click="ProLineDetail.ShowEdit()" ng-show="Server.Edit">编辑</a>
                    <a class="btn btn-primary" ng-click="ProLineDelect()" ng-show="Server.Delect">删除</a>
                    <a class="btn btn-primary" ng-click="ProLineView.ShowView()" ng-show="Server.View">详情</a>
                </span>
            </header>
            <div class="col-lg-3" style=" height: auto; max-height: 480px; overflow-y: auto; max-width: 200px">
                <div ng-tree="" ng-setting="tree.setting" ng-data="tree.data" ng-model="tree.obj"></div>
            </div>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="ProLine.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>品牌名称</span></th>
                                <th><span>产品名称</span></th>
                                <th><span>产品描述</span> </th>
                                <th><span>英文名称</span></th>
                                <th><span>类型编码</span></th>
                                <th><span>分类项一</span></th>
                                <th><span>分类项二</span></th>
                                <th><span>分类项三</span></th>
                                <th><span>备注信息</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in ProLine.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.medBrandCodeName}}</span></td>
                                <td><span>{{row.medProdLnName}}</span></td>
                                <td><span>{{row.medProdLnDesc}}</span></td>
                                <td><span>{{row.medProdLnNameEn}}</span></td>
                                <td><span>{{row.medProdLnTypeCode}}</span></td>
                                <td><span>{{row.medProdLnDefineClass1}}</span></td>
                                <td><span>{{row.medProdLnDefineClass2}}</span></td>
                                <td><span>{{row.medProdLnDefineClass3}}</span></td>
                                <td><span>{{row.remark}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-pagein="page" ng-model="Pagein"></div>
    </div>
    <ng-dialog ng-model="ProLineDetailAdd.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5" ng-show="ProLine.options.medBrandCode">
                品牌名称：{{ProLineDetailAdd.Info.medBrandCode}}
            </div>
            <div class="col-lg-5" ng-show="!ProLine.options.medBrandCode">
                <span class="required">*</span>品牌名称：
                <select ng-model="ProLineDetailAdd.Info.medBrandCode" ng-change="SelectInfo.Bind.change(item)">
                    <option value="">请选择品牌</option>
                    <option ng-repeat="item in SelectInfo.Bind.dic" ng-selected="item.id ==ProLineDetailAdd.Info.medBrandCode" value="{{item.id}}">{{item.text}}</option>
                </select>
            </div>
            <div class="col-lg-5">
                <span class="required">*</span>产品名称：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnName" placeholder="请输入产品线名称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <span class="required">*</span>产品编码：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnCode" placeholder="请输入产品线全称" />
            </div>
            <div class="col-lg-5">
                <span class="required">*</span>产品全称：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnFullName" placeholder="请输入产品线全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                英文名称：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnNameEn" placeholder="请输入英文名称" />
            </div>
            <div class="col-lg-5">
                英文全称：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnFullNameEn" placeholder="请输入英文全称" />
            </div>

        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <span class="required">*</span>产品类型：
                <select ng-model="ProLineDetailAdd.Info.medProdLnTypeCode" ng-change="SelectInfo.ProLineType.change(item)">
                    <option value="">请选择产品类型</option>
                    <option ng-repeat="item in SelectInfo.ProLineType.dic" ng-selected="item.id ==ProLineDetailAdd.Info.medProdLnTypeCode" value="{{item.id}}">{{item.text}}</option>
                </select>
            </div>
            <div class="col-lg-5">
                分类项一：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnDefineClass1" placeholder="请输入分类项一" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>

            <div class="col-lg-5">
                分类项二：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnDefineClass2" placeholder="请输入分类项二" />
            </div>
            <div class="col-lg-5">
                分类项三：<input type="text" ng-model="ProLineDetailAdd.Info.medProdLnDefineClass3" placeholder="请输入分类项三" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                产品备注：<input type="text" ng-model="ProLineDetailAdd.Info.remark" placeholder="请输入产品备注" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 产品描述：</span>
                <textarea style="width:85%;height:60px;" ng-model="ProLineDetailAdd.Info.medProdLnDesc" placeholder="请输入产品描述"></textarea>
            </div>
        </div>
        
    </ng-dialog>
    <ng-dialog ng-model="ProLineDetail.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5" ng-show="ProLine.options.medBrandCode">
                品牌名称：{{ProLineDetail.Info.medBrandCode}}
            </div>
            <div class="col-lg-5" ng-show="!ProLine.options.medBrandCode">
                <span class="required">*</span>品牌名称：
                <select ng-model="ProLineDetail.Info.medBrandCode" ng-change="SelectInfo.BindEdit.change(item)">
                    <option value="">请选择品牌名称</option>
                    <option ng-repeat="item in SelectInfo.BindEdit.dic" ng-selected="item.id ==ProLineDetail.Info.medBrandCode" value="{{item.id}}">{{item.text}}</option>
                </select>
            </div>
            <div class="col-lg-5">
                <span class="required">*</span>产品名称：<input type="text" ng-model="ProLineDetail.Info.medProdLnName" placeholder="请输入产品线名称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                产品编码：{{ProLineDetail.Info.medProdLnCode}}
            </div>
            <div class="col-lg-5">
                <span class="required">*</span>产品全称：<input type="text" ng-model="ProLineDetail.Info.medProdLnFullName" placeholder="请输入产品线全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                英文名称：<input type="text" ng-model="ProLineDetail.Info.medProdLnNameEn" placeholder="请输入英文名称" />
            </div>
            <div class="col-lg-5">
                英文全称：<input type="text" ng-model="ProLineDetail.Info.medProdLnFullNameEn" placeholder="请输入英文全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <span class="required">*</span>产品类型：
                <select ng-model="ProLineDetail.Info.medProdLnTypeCode" ng-change="SelectInfo.ProLineTypeEdit.change(item)">
                    <option value="">请选择产品类型</option>
                    <option ng-repeat="item in SelectInfo.ProLineTypeEdit.dic" ng-selected="item.id ==ProLineDetail.Info.medProdLnTypeCode" value="{{item.id}}">{{item.text}}</option>
                </select>
            </div>
            <div class="col-lg-5">
                分类项一：<input type="text" ng-model="ProLineDetail.Info.medProdLnDefineClass1" placeholder="请输入分类项一" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                分类项二：<input type="text" ng-model="ProLineDetail.Info.medProdLnDefineClass2" placeholder="请输入分类项二" />
            </div>
            <div class="col-lg-5">
                分类项三：<input type="text" ng-model="ProLineDetail.Info.medProdLnDefineClass3" placeholder="请输入分类项三" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                产品备注：<input type="text" ng-model="ProLineDetail.Info.remark" placeholder="请输入产品备注" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 产品描述：</span>
                <textarea style="width:85%;height:60px;" ng-model="ProLineDetail.Info.medProdLnDesc" placeholder="请输入产品描述"></textarea>
            </div>
        </div>
        
    </ng-dialog>
    <ng-dialog ng-model="ProLineView.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                品牌名称：{{ProLineView.Info.medBrandCode}}
            </div>
            <div class="col-lg-5">
                产品名称：{{ProLineView.Info.medProdLnName}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                产品编码：{{ProLineView.Info.medProdLnCode}}
            </div>
            <div class="col-lg-5">
                产品全称：{{ProLineView.Info.medProdLnFullName}}
            </div>
          
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                英文名称：{{ProLineView.Info.medProdLnNameEn}}
            </div>
            <div class="col-lg-5">
                英文全称：{{ProLineView.Info.medProdLnFullNameEn}}
            </div>
          
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                产品类型：{{ProLineView.Info.medProdLnTypeCodeName}}
            </div>
            <div class="col-lg-5">
                分类项一：{{ProLineView.Info.medProdLnDefineClass1}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                分类项二：{{ProLineView.Info.medProdLnDefineClass2}}
            </div>
            <div class="col-lg-5">
                分类项三：{{ProLineView.Info.medProdLnDefineClass3}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                产品备注：{{ProLineView.Info.remark}}
            </div>
            </div>
            <div class="row row-mt-8">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    产品描述：{{ProLineView.Info.medProdLnDesc}}
                </div>
            </div>
</ng-dialog>
</div>
