
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">我的医生列表</h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-click="DoctorJump.Add({})">新增</a>
                    <a class="btn btn-primary" ng-click="DoctorJump.Edit()">编辑</a>
                    <a class="btn btn-primary" ng-click="DoctorDelect()">删除</a>
                    <a class="btn btn-primary" ng-click="DoctorJump.View()">详情</a>
                </span>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="DoctorList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>医院名称</span></th>
                                <th><span>科室名称</span></th>
                                <th><span>医生名称</span></th>
                                <th><span>医生归属</span></th>
                                <th><span>是否默认</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in DoctorList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.hPName}}</span></td>
                                <td><span>{{row.wardDeptname}}</span></td>
                                <td><span>{{row.dTName}}</span></td>
                                <td><span>{{row.isLocalName}}</span></td>
                                <td><span>{{row.isDefaultDoctorPerUser=="Y"?"默认":"非默认"}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>