<div class="row">
    <div class="tools">群组信息
        <h5 style="float:left;"></h5>
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="GroupDetail.saveGroup()">保存</a>
            <a class="btn btn-primary" ng-click="goView('app.comp.group.list')">返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#BaseInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>基础信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="BaseInformation">
                <div class="control-group ">
                    <label >
                        <span class="required">*</span> 群组简称：<input type="text" ng-model="GroupDetail.detail.teamName" placeholder="请输入群组简称" />
                    </label>
                    <label>
                       群组全称：<input type="text" ng-model="GroupDetail.detail.teamFullName" placeholder="请输入群组全称" />
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        <span style="float:left">  群组备注：</span>
                        <textarea class="box-80" ng-model="GroupDetail.detail.remark" placeholder="请输入该群组的备注信息"></textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" style="width:80%" href="#AddGroupinfo">群组信息</h5>
                <a class="btn j_file_panel" href="javascript:void(0)" ng-click="GroupUserList.show()">
                    添加成员
                </a>
            </div>
      
            <div id="AddGroupinfo" class="widget-content nopadding collapse in">
                <div class="control-group ">
                </div>
                <div class="main-box-body clearfix">
                    <div class="table-responsive list-box" style="min-height:100px">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><span>序号</span></th>
                                    <th><span>成员姓名</span></th>
                                    <th><span>组织类型</span></th>
                                    <th><span>手机号码</span></th>
                                    <th><span>成员备注</span></th>
                                    <th><span>操作</span> </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in GroupDetail.info" ng-model="GroupDetail.info">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{row.userName}}
                                    </td>
                                    <td>
                                        {{row.orgTypeName}}
                                    </td>
                                    <td>
                                        {{row.userMobile}}
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" placeholder="请输入成员备注" ng-model="row.teamMemberDesc" />
                                        </label>
                                    </td>
                                    <td>
                                        <button type="button" ng-click="GroupUserList.delGroup($index)" class="btn btn-xs btn-danger">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="GroupDetail.saveGroup()">保存</a>
            <a class="btn btn-primary" ng-click="goView('app.comp.group.list')">返回</a>
        </span>
    </div>
    <ng-dialog ng-model="GroupUserList.model">
        <div class="main-box-body clearfix">
            <div class="table-responsive list-box" style="min-height:300px">
                <table class="table table-bordered table-striped" st-table="GroupUserList.info">
                    <thead>
                        <tr>
                            <th><span>序号</span></th>
                            <th><span>操作</span></th>
                            <th><span>成员姓名</span></th>
                            <th><span>组织类型</span></th>
                            <th><span>手机号码</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in GroupUserList.info" >
                            <td>{{$index+1}}</td>
                            <td>
                                <span>
                                    <label style="float:left;">
                                        <input type="checkbox" ng-change="CallResult(row)" ng-model="row.isClick" />
                                    </label>
                                </span>
                            </td>
                            <td>
                                {{row.userName}}
                            </td>
                            <td>
                                {{row.orgName}}
                            </td>
                            <td>
                                {{row.loginMobileNo}}
                            </td>     
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-pagein="page" ng-model="Pagein"></div>
        </div>
    </ng-dialog>
</div>





