<div>
    <div class="control-group" style="display:inline-block;width:100%;">
        <div class="btn-group oms-btn-group" role="group" style="border-bottom:0px;float:left">
            <a class="btn" ng-click="BillService.IsShowMaterialView(true)" ng-class="{true: 'btn-info',false:'btn-primary'}[!BillService.ViewMaterial]"><i class="fa fa-puzzle-piece"></i> 对账详情</a>
            <a class="btn" ng-click="BillService.IsShowMaterialView(false)" ng-class="{true: 'btn-info',false:'btn-primary'}[BillService.ViewMaterial]"><i class="fa fa-puzzle-piece"></i> 对账明细</a>
        </div>
        <div class="btn-group oms-btn-group" role="group" style="border-bottom:0px;float:right;" ng-show="ngBillMaterials.Edit">
            <a class="btn btn-primary" ng-click="SelectBillMaterials.show()"><i class="fa fa-puzzle-piece"></i> 新增明细</a>
            <a class="btn btn-primary" ng-click="ngBillMaterials.IsEditDetail(false)"><i class="fa fa-puzzle-piece"></i> 取消修改</a>
        </div>
    </div>
    <div ng-bill-material-details="BillConfig" ng-bill-service="BillService" ng-model="ngModel"></div>
    <div ng-operat-bill-list="SelectBillMaterials" ng-model="ngModel"></div>
    <div ng-bill-list="ngBillMaterials" ng-model="ngModel"></div>
</div>