
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix" ng-slide="!RelManList.IsEdit">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">货主列表</h2>
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="Service.RelMan()">关管管理</a>
                    <a class="btn btn-primary" ng-click="Service.Add()">新增货主</a>
                    <a class="btn btn-primary" ng-click="Service.Eduit()">编辑货主</a>
                    <a class="btn btn-primary" ng-click="Service.View()">货主详情</a>
                </span>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="OiOrgList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>货主名称</span></th>
                                <th><span>货主全称</span> </th>
                                <th><span>货主编码</span></th>
                                <th><span>机构编码</span></th>
                                <th><span>操作状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in OiOrgList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.oIName}}</span></td>
                                <td><span>{{row.oIFullName}}</span></td>
                                <td><span>{{row.oIShortCode}}</span></td>
                                <td><span>{{row.orgCode}}</span></td>
                                <td><span>{{row.validStausName}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>


        <div ng-slide="RelManList.IsEdit" >
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2 class="pull-left">关系管理列表</h2>
                    <span style="float:right;">
                        <!--<a class="btn btn-primary" ng-click="Service.View()"><i class="fa  fa-reply"></i> 详情</a>-->
                        <a class="btn btn-primary" ng-click="Service.isEdit(false)"><i class="fa  fa-reply"></i> 返回</a>
                    </span>
                </header>
                <div class="main-box-body clearfix">
                    <div class="table-responsive list-box" style="min-height:450px">
                        <table class="table table-bordered table-striped" st-table="RelManList.info">
                            <thead>
                                <tr>
                                    <th><span>序号</span></th>
                                    <th><span>货主名称</span></th>
                                    <th><span>经销商名称</span></th>
                                    <th><span>经销商编码</span></th>
                                    <th><span>备货名称</span></th>
                                    <th><span>交易状态</span></th>
                                    <th><span>认证状态</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in RelManList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                    <td>{{$index+1}}</td>
                                    <td><span>{{row.oIOrgCodeName}}</span></td>
                                    <td><span>{{row.dLName}}</span></td>
                                    <td><span>{{row.dLDesc}}</span></td>
                                    <td><span>{{row.hasInventoryName}}</span></td>
                                    <td><span>{{row.isDealName}}</span></td>
                                    <td>
                                        <span>
                                            <input type="checkbox" id="checkbox_c{{$index}}" class="chkbox" ng-change="UserStatus(row)" ng-checked="RelManList.info[{{$index}}].isEnable" ng-model="RelManList.info.isEnable" /><label for="checkbox_c{{$index}}" style="float:left;"></label>
                                            <span style="float:left;" ng-show="RelManList.info[{{$index}}].isEnable "> 已认证 </span>
                                            <span style="float:left;" ng-show="!RelManList.info[{{$index}}].isEnable "> 未认证 </span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-pagein="page" ng-model="Pagein"></div>
                </div>
            </div>
        </div>
        </div>
</div>