<div class="row">
    <div class="tools">
        <h5 style="float:left;">货主信息</h5>
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#PersonalInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>个人信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="PersonalInformation">
                <div class="control-group ">
                    <label>
                        货主类型：{{OiOrgView.Info.oITypeName}}
                    </label>
                    <label>
                        货主名称：{{OiOrgView.Info.oIName}}
                    </label>
                    <label>
                        货主全称：{{OiOrgView.Info.oIFullName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        货主简码：{{OiOrgView.Info.oIShortCode}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        货主描述：{{OiOrgView.Info.oIDesc}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        货主备注：{{OiOrgView.Info.remark}}
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#RegistrationInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>注册信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="RegistrationInformation">
                <div class="control-group ">
                    <label>
                        注册名称：{{OiOrgView.Info.corpRegCompanyName}}
                    </label>
                    <label>
                        注册编码：{{OiOrgView.Info.corpRegNo}}
                    </label>
                    <label>
                        注册币别：{{OiOrgView.Info.corpRegCurrencyCodeName}}
                    </label>
                </div>
                <div class="control-group ">
                    行政地址：{{OiOrgView.Info.corpRegProvinceCodeName}}  {{OiOrgView.Info.corpRegCityCodeName}}  {{OiOrgView.Info.corpRegDistrictCodeName}}  （{{OiOrgView.Info.corpRegAddress}}）
                </div>
                <div class="control-group ">
                    运营地址：{{OiOrgView.Info.corpBizProvinceCodeName}}  {{OiOrgView.Info.corpBizCityCodeName}}  {{OiOrgView.Info.corpBizDistrictCodeName}}  （{{OiOrgView.Info.corpBizAddress}}）
                </div>
                <div class="control-group ">
                    <label>
                        注册资本：{{OiOrgView.BackpackcorpRegCapital}}<span ng-show="!OiOrgView.BackpackcorpRegCapital">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;</span>（万元）
                    </label>
                    <label>
                        法人代表：{{OiOrgView.Info.corpRegLegalRep}}
                    </label>
                    <label>
                        注册税号：{{OiOrgView.Info.corpRegTaxNo}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        邮政编码：{{OiOrgView.Info.corpBizPostcode}}
                    </label>
                    <label style="width:67%">
                        经营范围：{{OiOrgView.Info.corpRegBizScope}}
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#TopContacts">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>联系人信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="TopContacts">
                <div class="control-group ">
                    <span>&nbsp;&nbsp;第一联系人信息：</span>
                </div>
                <div class="control-group ">
                    <label>
                        联系姓名：{{OiOrgView.Info.contact1Name}}
                    </label>
                    <label>
                        联系手机：{{OiOrgView.Info.contact1Mobile}}
                    </label>
                    <label>
                        通信工具：{{OiOrgView.Info.contact1PMsgTypeName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        联系邮箱：{{OiOrgView.Info.contact1Email}}
                    </label>
                    <label>
                        联系电话：{{OiOrgView.Info.contact1Tel}}
                    </label>
                    <label>
                        联系用途：{{OiOrgView.Info.contact1FuncName}}
                    </label>
                </div>
                <div class="control-group ">
                    <span>&nbsp;&nbsp;第二联系人信息：</span>
                </div>
                <div class="control-group ">
                    <label>
                        联系姓名：{{OiOrgView.Info.contact2Name}}
                    </label>
                    <label>
                        联系手机：{{OiOrgView.Info.contact2Mobile}}
                    </label>
                    <label>
                        通信工具：{{OiOrgView.Info.contact2PMsgTypeName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        联系邮箱：{{OiOrgView.Info.contact2Email}}
                    </label>
                    <label>
                        联系电话：{{OiOrgView.Info.contact2Tel}}
                    </label>
                    <label>
                        联系用途：{{OiOrgView.Info.contact2FuncName}}
                    </label>
                </div>
                <div class="control-group ">
                    <span>&nbsp;&nbsp;第三联系人信息：</span>
                </div>
                <div class="control-group ">
                    <label>
                        联系姓名：{{OiOrgView.Info.contact3Name}}
                    </label>
                    <label>
                        联系手机：{{OiOrgView.Info.contact3Mobile}}
                    </label>
                    <label>
                        通信工具：{{OiOrgView.Info.contact3PMsgTypeName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        联系邮箱：{{OiOrgView.Info.contact3Email}}
                    </label>
                    <label>
                        联系电话：{{OiOrgView.Info.contact3Tel}}
                    </label>
                    <label>
                        联系用途：{{OiOrgView.Info.contact3FuncName}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
</div>
