<div class="row">
    <div class="row-fluid">
        <div class="widget-box" style="font-size:18px;">
            <div class="widget-content nopadding collapse in">
                <div class="control-group ">
                    <label>
                        用户名称：{{PageInfo.UserInfo.orgName}}
                    </label>
                    <label>
                        账户名称：{{PageInfo.UserInfo.loginName}}
                    </label>
                    <label>
                        联系电话：{{PageInfo.UserInfo.loginMobileNo}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        组织类型：{{PageInfo.UserInfo.orgType}}
                    </label>
                    <label>
                        组织编码：{{PageInfo.UserInfo.orgCode}}
                    </label>
                    <label>
                        组织名称：{{PageInfo.UserInfo.orgName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        所属角色：{{Information.roleName}}
                    </label>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <div class="widget-title bg_ly">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5 data-toggle="collapse" href="#CompetenceInformation">功能权限</h5>
            </div>
            <div class="col-lg-3" style=" height:auto; max-height: 480px; overflow-y: auto; ">
                <div ng-tree="" ng-setting="tree.setting" ng-data="tree.data" ng-model="tree.obj"></div>
            </div>
            <div id="CompetenceInformation" class="widget-content nopadding collapse in">
                <div class="control-group " style="padding: 5px; min-height: 480px">
                    <table class="table table-bordered table-striped" st-table="MenuInfo">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>功能编码</span></th>
                                <th><span>功能名称</span></th>
                                <th><span>功能描述</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in MenuInfo" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="MenuView.showMenuView(row)">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{row.functionID}}
                                </td>
                                <td>
                                    {{row.functionName}}
                                </td>
                                <td>
                                    {{row.functionAppearanceDesc}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>
<ng-dialog ng-model="modifyPwd.dialog" class="page dialogshow" >
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            用户名称：{{User.userInfo.userName}}
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            组织名称： {{User.userInfo.orgName}}
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            原始密码： <input type="password" ng-model="modifyPwd.pwsInfo.oldPassword" placeholder="请输入原始密码.." />
            <span class="red" ng-show="!modifyPwd.pwsInfo.oldPassword">请输入原始密码</span>
            <span class="green" ng-show="modifyPwd.pwsInfo.oldPassword">输入通过</span>
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            最新密码：<input type="password" ng-model="modifyPwd.pwsInfo.newPassword" placeholder="请输入修改后的新密码.." />
            <span class="red" ng-show="!modifyPwd.pwsInfo.newPassword">请输入最新密码</span>
            <span class="red" ng-show="modifyPwd.pwsInfo.newPassword&&(modifyPwd.pwsInfo.newPassword==modifyPwd.pwsInfo.oldPassword)">新密码不能和原始密码相同</span>
            <span class="green" ng-show="modifyPwd.pwsInfo.newPassword&&(modifyPwd.pwsInfo.newPassword!=modifyPwd.pwsInfo.oldPassword)">输入通过</span>
        </div>
    </div>
    <div class="row row-mt-8">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            确认密码：<input type="password" ng-model="modifyPwd.pwsInfo.verifyPassword" placeholder="请确认输入的密码" />
            <span class="red" ng-show="(modifyPwd.pwsInfo.newPassword!=modifyPwd.pwsInfo.verifyPassword)&&(modifyPwd.pwsInfo.verifyPassword)">两次输入的密码不相同</span>
            <span class="red" ng-show="!modifyPwd.pwsInfo.verifyPassword">请输入确认密码</span>
            <span class="green" ng-show="modifyPwd.pwsInfo.verifyPassword&&(modifyPwd.pwsInfo.newPassword==modifyPwd.pwsInfo.verifyPassword)">输入通过</span>
        </div>
    </div>
</ng-dialog>