<div class="row" ng-controller="BillViewController">
    <div class="tools">
        <h5 style="float:left; font-weight:bold; margin-left:8px;">
            <i class="fa fa-file-archive-o"></i>
            计费单 <span style="color: #0033FF"><span ng-bind="BillData.hOFNHospitalNo"></span></span>
            <span style="color: #FF3300"><span ng-bind="BillData.sTATUSName"></span></span>
        </h5>
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-if="Competence.approval" ng-click="ApprovalConfig.show()"><i class="fa fa-eye"></i> 审批</a>
            <a class="btn btn-primary" ng-if="Competence.unapproval" ng-click="UnApprovalConfig.show()"><i class="fa fa-eye"></i> 反审批</a>
            <a class="btn btn-primary" ng-if="Competence.discard" ng-click="DisableConfig.show()"><i class="fa fa-eye"></i> 取消</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div ng-img="img" ng-model="file" style="height:0px;width:0px;"></div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" href="#Bill" data-toggle="tab"><a>计费单</a></li>
            <li role="presentation" href="#Order" data-toggle="tab"><a>订单</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="Bill">
                <div class="row-fluid">
                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" href="#SurgeryInformation">手术信息 [经销商：<span ng-bind="PageData.sOCreateByOrgCodeName"></span>]</h5>
                        </div>
                        <div id="SurgeryInformation" class="widget-content nopadding collapse in">
                            <div class="control-group">
                                <div class="Vessel">
                                    订单号：<span ng-bind="BillData.sONo"></span>
                                </div>
                                <div class="Vessel">
                                    计费单：<span ng-bind="BillData.hOFNHospitalNo"></span>
                                </div>
                                <div class="Vessel ">
                                    计费单系统编号：  <span ng-bind="BillData.hOFNNo"></span>
                                </div>
                            </div>
                            <div class="control-group ">
                                <label>
                                    医院：<span ng-bind="BillData.hPCodeName"></span>
                                </label>
                                <label>
                                    科室：<span ng-bind="BillData.wardDeptCodeName"></span>
                                </label>
                                <label>
                                    医生：<span ng-bind="BillData.dTCodeName"></span>
                                </label>
                            </div>
                            <div class="control-group">
                                <div class="Vessel">
                                    手术：<span ng-bind="BillData.operationDesc"></span>
                                </div>
                                <div class="Vessel">
                                    手术日期：<span ng-bind="BillData.operationDate"></span>
                                </div>
                                <div class="Vessel">
                                    手术室：<span ng-bind="BillData.operationOperationRoom"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="Vessel">
                                    签字医生：<span ng-bind="BillData.hOFNSignPerson1"></span>
                                </div>
                                <div class="Vessel">
                                    洗手护士：<span ng-bind="BillData.hOFNSignPerson2"></span>
                                </div>
                                <div class="Vessel">
                                    手术护士：<span ng-bind="BillData.hOFNSignPerson3"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="Vessel All">
                                    诊断信息：<span ng-bind="BillData.patientDiseaseInfo"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="Vessel All">
                                    手术反馈：<span ng-bind="BillData.operationFeedbackRemark"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" href="#PatientInfo">患者信息</h5>
                        </div>
                        <div id="PatientInfo" class="widget-content nopadding collapse in">
                            <div class="control-group">
                                <div class="Vessel">
                                    姓名：<span ng-bind="BillData.patientName"></span>
                                </div>
                                <div class="Vessel">
                                    年龄：<span ng-bind="BillData.patientAge"></span>
                                </div>
                                <div class="Vessel">
                                    性别：<span ng-bind="BillData.patientSexName"></span>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="Vessel">
                                    电话：<span ng-bind="BillData.patientTel"></span>
                                </div>
                                <div class="Vessel Second">
                                    地址：<span ng-bind="BillData.patientAddress"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="Vessel">
                                    入院日期：<span ng-bind="BillData.patientEntryDate"></span>
                                </div>
                                <div class="Vessel">
                                    住院号：<span ng-bind="BillData.patientHPNo"></span>
                                </div>
                              
                            </div>
                            <div class="control-group">
                                <div class="Vessel">
                                    病区：<span ng-bind="BillData.patientWard"></span>
                                </div>
                                <div class="Vessel">
                                    病房：<span ng-bind="BillData.patientRoom"></span>
                                </div>
                                <div class="Vessel">
                                    病床：<span ng-bind="BillData.patientBedNo"></span>
                                </div>
                                <div class="Vessel" ng-if="false">
                                    患者费用：<span ng-bind="'未计费'"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="Vessel All">
                                    备注：<span ng-bind="BillData.patientRemark"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" href="#MaterialsInfo">植入物耗用 植入物：<span ng-bind="BillData.MateriaCount"></span>件，金额：￥<span ng-bind="BillData.Money"></span>元</h5>
                        </div>
                        <div id="MaterialsInfo" class="widget-content nopadding collapse in">
                            <div class="main-box-body clearfix" style="padding: 15px; width: 100%;">
                                <div class="table-responsive">
                                    <table style="width:800px; min-width:100%; max-width:2000px;" class="table table-bordered tab-striped" st-table="BillData.detail" st-safe-src="rowCollection">
                                        <thead>
                                            <tr>
                                                <th><span>物资编码</span></th>
                                                <th><span>名称</span> </th>
                                                <th><span>品牌</span> </th>
                                                <th><span>规格</span> </th>
                                                <th><span>材料</span> </th>
                                                <th><span>批次</span> </th>
                                                <th><span>数量</span></th>
                                                <th><span>单价</span></th>
                                                <th ng-if="false"><span>患者单价</span></th>
                                                <th><span>金额</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="row in BillData.detail">
                                                <td><span ng-bind="row.dHMedMaterialInternalNo"></span></td>
                                                <td><span ng-bind="row.dHMMName"></span></td>
                                                <td><span ng-bind="row.medMaterialBrandName"></span> </td>
                                                <td><span ng-bind="row.dHMMSpecification"></span></td>
                                                <td><span ng-bind="row.dHMMMaterials"></span></td>
                                                <td><span ng-bind="row.lotSerial"></span></td>
                                                <td style="text-align:right"><span ng-bind="row.qty"></span><span ng-bind="row.dHMMUnitName"></span> </td>
                                                <td style="text-align:right"><span ng-bind="row.hPUnitPrice.toFixed(2)"></span></td>
                                                <td ng-if="false"><span ng-bind="row.patientUnitPrice"></span></td>
                                                <td style="text-align:right"><span ng-bind="(row.qty*row.hPUnitPrice).toFixed(2)"></span> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box" ng-if="BillData.images.length">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" href="#AdditionalInformation">附件信息</h5>
                        </div>
                        <div id="AdditionalInformation" class="widget-content nopadding collapse in">
                            <div class="control-group ">
                                <div ng-img-list="img" ng-comp="{delImg:false}" ng-model="BillData.images"></div>
                            </div>
                            <div class="control-group" ng-if="false">
                                <label style="width:100%">
                                    图片说明：<span ng-bind=""></span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Order">
                <div ui-view="Accurate"></div>
            </div>
        </div>
        <span ng-approval-bill="ApprovalConfig" ng-model="BillData"></span>
        <span ng-anti-approval-bill="UnApprovalConfig" ng-model="BillData"></span>
        <span ng-disable-bill="DisableConfig" ng-model="BillData"></span>
    </div>
</div>