<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left"><span ng-bind="title"></span> </h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-if="Competence.modify" ng-click="PageControl.ModifyBill()"> <i class="fa fa-clipboard"></i> 调整</a>
                    <a class="btn btn-primary" ng-if="Competence.batchapproval" ng-click="PageControl.()"><i class="fa fa-eye"></i> 批量审核</a>
                    <a class="btn btn-primary" ng-if="Competence.approval" ng-click="PageControl.ApprovalBill()"><i class="fa fa-eye"></i> 审核</a>
                    <a class="btn btn-primary" ng-if="Competence.unapproval" ng-click="PageControl.ApprovalBill()"><i class="fa fa-eye"></i> 反审核</a>
                    <a class="btn btn-primary" ng-if="Competence.discard" ng-click="PageControl.ApprovalBill()"><i class="fa fa-eye"></i> 作废</a>
                    <a class="btn btn-primary" ng-click="PageControl.PrintBill()"><i class="fa fa-print"></i> 打印</a>
                    <a class="btn btn-primary" ng-click="PageControl.ViewBill()"><i class="fa fa-align-justify"></i> 详情</a>
                </span>
                <div class="input-group" style="float:right;width:250px;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="请输入计费单号或订单号"
                           ng-keyup="Integrated.Enter($event)" style="padding:8px;" ng-model="Pagein.searchValue">
                    <a class="input-group-addon" href="javascript:void(0)" ng-click="Integrated.DataQuery({})"><i class="fa fa-search"></i></a>
                </div>
                <span ng-neardata="Integrated.DataQuery" style="float:right;"></span>
            </header>

            <div class="main-box-body clearfix">
                <div class="table-responsive list-box">
                    <table style="width:1400px; min-width:100%; max-width:2000px;" class="table table-bordered table-striped" st-table="Integrated.BillList">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>计费单系统编号</span></th>
                                <th><span>计费单号</span></th>
                                <th><span>订单号</span></th>
                                <th><span>经销商</span></th>
                                <th><span>医院</span></th>
                                <th><span>医生</span></th>
                                <th><span>手术日期</span></th>
                                <th><span>总金额</span></th>
                                <th><span>计费人</span></th>
                                <th><span>计费状态</span></th>
                                <th><span>对账</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Integrated.BillList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="PageControl.ViewBillByRow(row)">
                                <td>{{$index+1}}</td>
                                <td><span ng-bind="row.hOFNNo"></span></td>
                                <td><span ng-bind="row.hOFNHospitalNo?row.hOFNHospitalNo:'-'"></span></td>
                                <td><span ng-bind="row.sONo"></span></td>
                                <td><span ng-bind="row.dLOrgCodeName"></span></td>
                                <td><span ng-bind="row.hPCodeName"></span></td>
                                <td><span ng-bind="row.dTCodeName"></span></td>
                                <td><span ng-bind="AppHelp.Data.GetDate(0,row.operationDate)"></span></td>
                                <td><span ng-bind="row.hOFNHPtoDLAmt?row.hOFNHPtoDLAmt:'未获取'"></span></td>
                                <td><span ng-bind="row.createByName"></span></td>
                                <td><span ng-bind="row.statusName"></span></td>
                                <td><span ng-bind="row.recordInHSOAName"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>