<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">{{title}}</h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-click="PageControl.AddNewBill()"> <i class="fa fa-pencil"></i> 订单计费</a>
                </span>
                <div ng-if="false" class="input-group" style="float:right;width:250px;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="请输入计费单号或订单号"
                           style="padding:8px;" ng-model="Pagein.sONo">
                    <a class="input-group-addon" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                </div>
            </header>

            <div class="main-box-body clearfix">
                <div class="table-responsive list-box">
                    <table class="table table-bordered table-striped" st-table="Integrated.OrderList">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>订单编号</span></th>
                                <th><span>经销商</span></th>
                                <th><span>下单医院</span></th>
                                <th><span>手术医生</span></th>
                                <th><span>手术时间</span></th>
                                <th><span>下单人</span></th>
                                <th><span>订单状态</span></th>
                                <th><span>计费状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Integrated.OrderList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="PageControl.AddNewBillByRow(row)">
                                <td>{{$index+1}}</td>
                                <td><span ng-bind="row.sONo"></span></td>
                                <td><span ng-bind="row.sOHandleByName"></span></td>
                                <td><span ng-bind="row.hPCodeName"></span></td>
                                <td><span ng-bind="row.dTCodeName"></span></td>
                                <td><span ng-bind="row.operationDate"></span></td>
                                <td><span ng-bind="row.sOCreateByName"></span></td>
                                <td><span ng-bind="row.statusName"></span></td>
                                <td><span ng-bind="row.hPOPFeeNoteIsRecorded=='Y'?'已计费':'未计费'"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>