
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">品牌列表</h2>
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="BrandDetailAdd.ShowAdd({})">新增</a>
                    <a class="btn btn-primary" ng-click="BrandDetail.ShowEdit()">编辑</a>
                    <a class="btn btn-primary" ng-click="BrandDelet()">删除</a>
                    <a class="btn btn-primary" ng-click="BrandView.ShowView()">详情</a>
                </span>
            </header>
            <div class="col-lg-3" style=" height:auto; max-height: 480px; overflow-y: auto; ">
                <div ng-tree="" ng-setting="tree.setting" ng-data="tree.data" ng-model="tree.obj"></div>
            </div>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="BrandList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>厂家名称</span></th>
                                <th><span>厂家编码</span></th>
                                <th><span>品牌名称</span> </th>
                                <th><span>品牌编码</span></th>
                                <th><span>备注信息</span></th>
                                <th><span>状态操作</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in BrandList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" >
                                <td>{{$index+1}}</td>
                                <td><span>{{row.medMnfcCodeName}}</span></td>
                                <td><span>{{row.medMnfcCode}}</span></td>
                                <td><span>{{row.medBrandName}}</span></td>
                                <td><span>{{row.medBrandCode}}</span></td>
                                <td><span>{{row.remark}}</span></td>
                                <td>
                                    <span>{{row.validStatus=="Y"?"有效":"无效"}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-pagein="page" ng-model="Pagein"></div>
    </div>
    <ng-dialog ng-model="BrandDetail.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                厂家名称：{{BrandDetail.Info.medMnfcCodeName}}
            </div>
            <div class="col-lg-5">
                <span class="required">*</span>品牌名称：<input type="text" ng-model="BrandDetail.Info.medBrandName" placeholder="请输入品牌名称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                品牌编码：{{BrandDetail.Info.medBrandCode}}
            </div>
            <div class="col-lg-5">
                品牌全称：<input type="text" ng-model="BrandDetail.Info.medBrandFullName" placeholder="请输入英文全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                英文名称：<input type="text" ng-model="BrandDetail.Info.medBrandNameEN" placeholder="请输入英文名称" />
            </div>
            <div class="col-lg-5">
                英文全称：<input type="text" ng-model="BrandDetail.Info.medBrandFullNameEN" placeholder="请输入英文全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 品牌备注：</span>
                <textarea style="width:85%;height:60px;" ng-model="BrandDetail.Info.remark" placeholder="请输入品牌备注"></textarea>
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 品牌描述：</span>
                <textarea style="width:85%;height:60px;" ng-model="BrandDetail.Info.medBrandDesc" placeholder="请输入品牌描述"></textarea>
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 英文描述：</span>
                <textarea style="width:85%;height:60px;" ng-model="BrandDetail.Info.medBrandDescEN" placeholder="请输入英文描述"></textarea>
            </div>
        </div>
    </ng-dialog>
    <ng-dialog ng-model="BrandDetailAdd.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                厂家名称：{{BrandDetailAdd.Info.medMnfcCodeName}}
            </div>
            <div class="col-lg-5">
                <span class="required">*</span>品牌名称：<input type="text" ng-model="BrandDetailAdd.Info.medBrandName" placeholder="请输入品牌名称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <span class="required">*</span>品牌编码：<input type="text" ng-model="BrandDetailAdd.Info.medBrandCode" placeholder="请输入品牌名称" />
            </div>
            <div class="col-lg-5">
                品牌全称：<input type="text" ng-model="BrandDetailAdd.Info.medBrandFullName" placeholder="请输入英文全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                英文名称：<input type="text" ng-model="BrandDetailAdd.Info.medBrandNameEN" placeholder="请输入英文名称" />
            </div>
            <div class="col-lg-5">
                英文全称：<input type="text" ng-model="BrandDetailAdd.Info.medBrandFullNameEN" placeholder="请输入英文全称" />
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 品牌备注：</span>
                <textarea style="width:85%;height:60px;" ng-model="BrandDetailAdd.Info.remark" placeholder="请输入品牌备注"></textarea>
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 品牌描述：</span>
                <textarea style="width:85%;height:60px;" ng-model="BrandDetailAdd.Info.medBrandDesc" placeholder="请输入品牌描述"></textarea>
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <span style="float:left;"> 英文描述：</span>
                <textarea style="width:85%;height:60px;" ng-model="BrandDetailAdd.Info.medBrandDescEN" placeholder="请输入英文描述"></textarea>
            </div>
        </div>
    </ng-dialog>
    <ng-dialog ng-model="BrandView.model">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                厂家名称：{{BrandView.Info.medMnfcCodeName}}
            </div>
            <div class="col-lg-5">
                厂家编码：{{BrandView.Info.medMnfcCode}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                品牌名称：{{BrandView.Info.medBrandName}}
            </div>
            <div class="col-lg-5">
                品牌全称：{{BrandView.Info.medBrandFullName}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                英文名称：{{BrandView.Info.medBrandNameEN}}
            </div>
            <div class="col-lg-5">
                英文全称：{{BrandView.Info.medBrandFullNameEN}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                品牌备注：{{BrandView.Info.remark}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                品牌描述：{{BrandView.Info.medBrandDesc}}
            </div>
        </div>
        <div class="row row-mt-8">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                英文描述：{{BrandView.Info.medBrandDescEN}}
            </div>
        </div>
    </ng-dialog>
</div>
