
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">组织列表</h2>
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="RelManJump.View()">详情</a>
                </span>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="RelManList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>货主名称</span></th>
                                <th><span>经销商名称</span></th>
                                <th><span>经销商编码</span></th>
                                <th><span>备货名称</span></th>
                                <th><span>交易状态</span></th>
                                <th><span>认证状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in RelManList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.oIOrgCodeName}}</span></td>
                                <td><span>{{row.dLName}}</span></td>
                                <td><span>{{row.dLDesc}}</span></td>
                                <td><span>{{row.hasInventoryName}}</span></td>
                                <td><span>{{row.isDealName}}</span></td>
                                <td>
                                    <span>
                                        <input type="checkbox" id="checkbox_c{{$index}}" class="chkbox" ng-change="UserStatus(row)" ng-checked="RelManList.info[{{$index}}].certStatus" ng-model="RelManList.info.certStatus" /><label for="checkbox_c{{$index}}" style="float:left;"></label>
                                        <span style="float:left;" ng-show="RelManList.info[{{$index}}].certStatus "> 已认证 </span>
                                        <span style="float:left;" ng-show="!RelManList.info[{{$index}}].certStatus "> 未认证 </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>
