<div class="row" ng-controller="AdditionalController">
    <div class="tools">
        <h5 style="float:left; font-weight:bold; margin-left:8px;">
            <i class="fa fa-file-archive-o"></i>
            手术订单
            <span style="color: #0033FF">{{sono}}</span>
            <span style="color: #FF3300">{{PageData.statusName}}</span>

        </h5>
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="AdditionalServiice.Submit()"><i class="fa fa-shopping-cart"></i>追加</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div ng-img="img" ng-model="file" style="height:0px;width:0px;"></div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" href="#Original" data-toggle="tab"><a>原始订单</a></li>
            <li role="presentation" href="#Accurate" data-toggle="tab"><a>精确订单</a></li>
            <li role="presentation" href="#Additional" data-toggle="tab"><a>追加物料</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Original">
                <div ui-view="Original"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Accurate">
                <div ui-view="Accurate"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Additional">
                <div class="row-fluid">
                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 style="width:80%" data-toggle="collapse" href="#Add_ProductInformation">追加物料
                                {{AddProduct.Competence.ShowInfo}}
                            </h5>
                            <a href="javascript:void(0)" class="btn" style="display:none;"><i class="fa fa-folder-open"></i>选择模板</a>
                        </div>
                        <div id="Add_ProductInformation" class="widget-content nopadding collapse in">
                            <div ng-product-view="AddProductView" ng-model="PageData" ng-service="AddProduct.Service" ng-comp="AddProduct.Competence"></div>
                        </div>
                    </div>

                    <div ui-view="Library"></div>
                </div>
            </div>
        </div>

    </div>
    <div ng-order-approval="" ng-model="PageData" ng-operat="ApprovalConfig.Operat"></div>
    <div ng-sign="" ng-model="PageData" ng-operat="SignConfig.Operat"></div>
    <div class="tools">
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-click="AdditionalServiice.Submit()"><i class="fa fa-shopping-cart"></i>追加</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
</div>