<div class="row">
    <div class="tools">
        <h5 style="float:left;">医院详情</h5>
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title bg_ly" data-toggle="collapse" href="#PersonalInformation">
                <span class="icon"><i class="fa icon-chevron-down"></i></span>
                <h5>医院信息</h5>
            </div>
            <div class="widget-content nopadding collapse in" id="PersonalInformation">
                <div class="control-group ">
                    <label>
                        医院名称：{{Hospital.Info.hPName}}
                    </label>
                    <label>
                        医院全称：{{Hospital.Info.hPFullName}}
                    </label>
                    <label>
                        等级编码：{{Hospital.Info.hPLevelName}}
                    </label>
                </div>
                <div class="control-group ">
                    <label style="width:100%">
                        医院地址：{{Hospital.Info.hPProvinceCodeName}}  {{Hospital.Info.hPProvinceCodeName}}  {{Hospital.Info.hPProvinceCodeName}}  （{{Hospital.Info.hPAddress}}）
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        医院总机：{{Hospital.Info.hPTel}}
                    </label>
                    <label>
                        医院邮编：{{Hospital.Info.hPPostcode}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        医院描述：{{Hospital.Info.hPDesc}}
                    </label>
                </div>
                <div class="control-group ">
                    <label>
                        备注信息：{{Hospital.Info.remark}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <span style="float:right;">
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
        </span>
    </div>
</div>