
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">经销商列表</h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-click="DlOrgJump.Add()">新增</a>
                    <a class="btn btn-primary" ng-click="DlOrgJump.Edit()">编辑</a>
                    <a class="btn btn-primary" ng-click="DlOrgJump.Delect()">删除</a>
                    <a class="btn btn-primary" ng-click="DlOrgJump.View()">详情</a>
                </span>
                <!--<div class="input-group" style="float:right;width:250px;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="请输入经销商名称"
                           style="padding:8px;" ng-model="DlOrgJump.SearchWhere" ng-keyup="DlOrgJump.UpEnter($event)">
                    <a class="input-group-addon" href="javascript:void(0)" ng-click="DlOrgJump.QueryDLList()"><i class="fa fa-search"></i></a>
                </div>-->
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="DlOrgList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>组织编码</span> </th>
                                <th><span>经销商名称</span></th>
                                <th><span>经销商全称</span></th>
                                <th><span>经销商描述</span></th>
                                <th><span>认证状态</span></th>
                                <th><span>有效状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in DlOrgList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="DlOrgJump.View(row)">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.orgCode}}</span></td>
                                <td><span>{{row.dLName}}</span></td>
                                <td><span>{{row.dLFullName}}</span></td>                                
                                <td><span>{{row.dLDesc}}</span></td>
                                <td><span>{{row.certStatus=="Y"?"认证":"未认证"}}</span></td>
                                <td><span>{{row.validStatusName}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>