
<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">组织列表</h2>
                <span style="float:right;">
                    <a class="btn btn-primary" ng-click="OiOrgJump.Add()">新增</a>
                    <a class="btn btn-primary" ng-click="OiOrgJump.Eduit()">编辑</a>
                    <a class="btn btn-primary" ng-click="OiOrgJump.View()">详情</a>
                </span>
            </header>
            <div class="main-box-body clearfix">
                <div class="table-responsive list-box" style="min-height:450px">
                    <table class="table table-bordered table-striped" st-table="OiOrgList.info">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>货主名称</span></th>
                                <th><span>货主全称</span> </th>
                                <th><span>货主编码</span></th>
                                <th><span>机构编码</span></th>
                                <th><span>操作状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in OiOrgList.info" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td><span>{{row.oIName}}</span></td>
                                <td><span>{{row.oIFullName}}</span></td>
                                <td><span>{{row.oIShortCode}}</span></td>
                                <td><span>{{row.orgCode}}</span></td>
                                <td><span>{{row.validStausName}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>