<div class="row" ng-controller="DealwithController">
    <div class="tools">
        <h5 style="float:left; font-weight:bold; margin-left:8px;">
            <i class="fa fa-file-archive-o"></i>
            手术订单
            <span style="color: #0033FF"><span ng-bind="sono"></span></span>
            <span style="color: #FF3300"><span ng-bind="PageData.statusName"></span></span>
        </h5>
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-if="View.Competence.dealwith" ng-click="DealService.Save()"><i class="fa fa-save"></i>保存</a>
            <a class="btn btn-primary" ng-if="View.Competence.dealwith" ng-click="DealService.Show()"><i class="fa fa-wrench"></i>处理</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa fa-reply"></i> 返回</a>
            <a class="btn btn-danger" ng-if="View.Competence.dealwith" ng-click="DealService.Cancel()"><i class="fa fa-undo"></i> 订单取消</a>
        </span>
    </div>
    <div ng-img="img" ng-model="file" style="height:0px;width:0px;"></div>
    <div ng-materials-template="TemplateService" ng-model="PageData"></div>
    <div ng-materials-import-template="ImportTemplateServicePublic" ng-type="'PUBLIC'" ng-model="PageData"></div>
    <div ng-materials-import-template="ImportTemplateServicePrivate" ng-type="'PRIVATE'" ng-model="PageData"></div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" href="#Dealwith" data-toggle="tab"><a>开始处理</a></li>
            <li role="presentation" href="#Original" data-toggle="tab"><a>原始订单</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="Original">
                <div ui-view="Original"></div>
            </div>
            <div class="tab-pane active" id="Dealwith">
                <div class="row-fluid">
                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" href="#pro_BaseInformation" style="width:80%">收货信息 [货主：<span ng-bind="PageData.sOOIOrgCodeName"></span>]</h5>
                            <a class="btn" ng-click="AddressConfig.show()"><i class="fa fa-map-marker"></i>收货地址修改</a>
                        </div>
                        <div class="widget-content nopadding collapse in" id="pro_BaseInformation">
                            <div class="control-group ">
                                <label style="line-height:28px;">
                                    收货人：<span ng-bind="PageData.deliveryContact"></span>
                                </label>
                                <label style="line-height:28px;">
                                    电话：<span ng-bind="PageData.deliveryrMobile"></span>
                                </label>
                                <label>
                                    <span class="required">*</span>配送：
                                    <span ng-dictionary="TRANTP" ng-model="PageData.carrierTransType"></span>
                                </label>
                            </div>
                            <div class="control-group ">
                                <label style="width:100%">
                                    地址：<span ng-area="" ng-model="PageData"></span>
                                    <input type="text" ng-model="PageData.deliveryAddress" style="border:0;border-bottom:1px solid #ccc;font-size:12px;width:370px" />
                                </label>     
                                <!--<table class="Vessel" style="width:100%">
                                    <tr>
                                        <td style="padding-left:2.2%;"><span  style="font-size:12px"> &nbsp;地址：</span></td>
                                        <td style="padding:0px;"><span ng-area="" ng-model="PageData"></span></td>
                                        <td style="width:50%;padding:0px;"><input type="text" ng-model="PageData.deliveryAddress" style="width:99%;border:0;border-bottom:1px solid #ccc;font-size:12px" /></td>
                                    </tr>
                                </table>-->
                            </div>
                        </div>
                        <div ng-address="address" ng-model="PageData" ng-operat="AddressConfig"></div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" style="width:80%" href="#pro_SurgeryInformation">手术信息</h5>
                            <a class="btn" ng-click="HospitalConfig.show()"><i class="fa fa-reddit-square"></i>主刀医生修改</a>
                        </div>
                        <div id="pro_SurgeryInformation" class="widget-content nopadding collapse in">
                            <div class="control-group ">
                                <label>
                                    医院：<span ng-bind="PageData.hPCodeName"></span>
                                </label>
                                <label>
                                    科室：<span ng-bind="PageData.wardDeptCodeName"></span>
                                </label>
                                <label>
                                    医生：<span ng-bind="PageData.dTCodeName"></span>
                                    <span style="color:green">[<span ng-bind="PageData.isLocalName"></span>]</span>
                                </label>
                            </div>
                            <div class="control-group">
                                <label style="width:100%;">
                                    医院要求：<span ng-bind="PageData.hPPreferenceDesc"></span>
                                </label>
                            </div>
                            <div class="control-group">
                                <label style="width:100%;">
                                    医生要求：<span ng-bind="PageData.dTOperationPreferenceDesc"></span>
                                </label>
                            </div>
                            <div class="control-group">
                                <label>
                                    <span class="Text required" style="margin-left:-70px;margin-top:0px;">*</span>
                                    <span class="Text">手术日期：</span>
                                    <span ng-show-data="" ng-model="PageData.initOperationDate"></span>
                                        <span style="line-height: 25px; vertical-align: 50%;" id="OrderData"> {{DisplayWeek}}</span>                                  
                                </label>
                                <label style="width:60%">
                                    <span class="required">*</span>
                                    诊断信息：<input type="text" style=" width:78%" ng-model="PageData.patientDiseaseInfo" />
                                </label>
                            </div>
                            <div class="control-group ">
                                <label style="width:100%;">
                                    患者信息:
                                    <input type="text" style="width: 78%" ng-model="PageData.patientRemark" />
                                </label>
                            </div>
                            <div class="control-group " style="display:none;">
                                <label style="width:100%">
                                    备注信息：<input style="width:78%" type="text" />
                                </label>
                            </div>
                            <div ng-doctors="" ng-model="PageData" ng-pagedate="PageData" ng-operat="HospitalConfig"></div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 style="width:80%" data-toggle="collapse" href="#pro_ProductInformation">
                                器械信息<span ng-bind="ProductCompetence.ShowInfo"></span>
                            </h5>
                            <div class="btn-group">
                                <a class="btn" ng-click="TemplateService.show()">
                                    <!--<i class="fa fa-folder-open"></i>-->通过模板添加器械
                                </a>
                                <a class="btn" style="border-left:1px solid #ccc;"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-click="ImportTemplateServicePublic.show()">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-gears"></i>另存为共有模板
                                        </a>
                                    </li>
                                    <li ng-click="ImportTemplateServicePrivate.show()">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-gears"></i>另存为私有模板
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="pro_ProductInformation" class="widget-content nopadding collapse in">
                            <div ng-product-view="dealProduct" ng-model="PageData" ng-service="ProductService" ng-comp="ProductCompetence"></div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-title bg_ly">
                            <span class="icon"><i class="fa icon-chevron-down"></i></span>
                            <h5 data-toggle="collapse" style="width:80%" href="#pro_AdditionalInformation">附件信息</h5>
                            <a class="btn j_file_panel" href="javascript:void(0)">
                                <i class="fa fa-image"></i>
                                附件上传
                                <div ng-file="file" ng-model="file"></div>
                            </a>
                        </div>
                        <div id="pro_AdditionalInformation" class="widget-content nopadding collapse in">
                            <div class="control-group ">
                                <div ng-img-list="img" ng-comp="{delImg:true}" ng-model="PageData.attachments.images"></div>
                                <label style="opacity:0.5;width:100%;" ng-show="!PageData.attachments.images.length">
                                    请上传手术相关资料，如病历牌照片、诊断书照片...
                                </label>
                            </div>
                            <div class="control-group">
                                <label style="width:100%">
                                    附件备注：<input type="text" style="width:78%;" placeholder="请输入附件额外说明" ng-model="PageData.attachments.remark" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-dialog ng-model="DealService.model">
            <div class="yulan_box">
                <div class="yulan_tk">
                    <table>
                        <tr>
                            <td>
                                
                                <ul class="yulan_xinxi">
                                    <li>
                                        <ul class="yulan_gaik">
                                            <li><b>医生：</b><span ng-bind="PageData.hPCodeName"></span>，<span ng-bind="PageData.dTCodeName"></span></li>
                                            <li><b>手术日期：</b><span ng-bind="OperationDate"></span><span ng-bind="OperationDateWeek"></span></li>
                                        </ul>
                                    </li>
                                    <li><b>医院要求：</b><span ng-bind="PageData.hPPreferenceDesc"></span></li>
                                    <li><b>医生要求：</b><span ng-bind="PageData.dTOperationPreferenceDesc"></span></li>
                                    <li><b>诊断信息：</b><span ng-bind="PageData.patientDiseaseInfo"></span></li>
                                    <li>
                                        <ul class="yulan_gaik">
                                            <li><b>收货人：</b><span ng-bind="PageData.deliveryContact"></span></li>
                                            <li><b>电话：</b><span ng-bind="PageData.deliveryrMobile"></span></li>
                                            <li><b>配送：</b><span ng-bind="PageData.iniitCarrierTransTypeName"></span></li>
                                        </ul>
                                    </li>
                                    <li><b>地址：</b><span ng-bind="PageData.deliveryProvinceName"></span><span ng-bind="PageData.deliveryCityName"></span>
                                        <span ng-bind="PageData.deliveryDistrictName"></span><span ng-bind="PageData.deliveryAddress"></span>
                                    </li>
                                </ul>
                            <td>
                        </tr>

                        <tr>
                            <td>
                                <div class="yulan_ys">
                                    植入物 <span ng-bind="PageData.allCount.implant"></span>件 + 工具 <span ng-bind="PageData.allCount.tool"></span>件 = <span ng-bind="PageData.allCount.all"></span>件 （含器械包 <span ng-bind="PageData.proView.kitCount"></span>套）
                                </div>
                            <td>
                        </tr>
                        <tr>
                            <td>
                                <div class="yulan_biaoge">

                                    <h4><b>植入物：</b><span ng-bind="PageData.allCount.implant"></span>件</h4>
                                    <table class="yulan_bordered" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr class="yulan_line">
                                            <td >序号</td>
                                            <td style="width:70px">品牌</td>
                                            <td style="width:110px">产品线</td>
                                            <td style="width:110px">物料编码</td>
                                            <td style="width:250px">物料名称</td>
                                            <td style="width:200px">规格</td>
                                            <td>数量</td>
                                            <td>仓库</td>
                                        </tr>
                                        </thead>
                                        <tr ng-repeat="row in PageData.Implate">
                                            <td>{{$index+1}}</td>
                                            <td><span ng-bind="row.medBrandCodeName"></span>
                                            <td><span ng-bind="row.medProdLineCodeName"></span>
                                            <td><span ng-bind="row.medMiCode"></span>
                                            <td><span ng-bind="row.medMICodeName"></span>
                                            <td><span ng-bind="row.specification"></span>
                                            <td><span ng-bind="row.reqQty"></span>
                                            <td><span ng-bind="row.wHName"></span>
                                        </tr>
                                    </table>
                                </div>
                                <div class="yulan_biaoge">
                                    <h4><b>工具：</b><span ng-bind="PageData.allCount.tool"></span>件</h4>
                                    <table class="yulan_bordered" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr class="yulan_line">
                                            <td>序号</td>
                                            <td style="width:70px">品牌</td>
                                            <td style="width:110px">产品线</td>
                                            <td style="width:110px">物料编码</td>
                                            <td style="width:250px">物料名称</td>
                                            <td style="width:200px">规格</td>
                                            <td>数量</td>
                                            <td>仓库</td>
                                        </tr>
                                        </thead>
                                        <tr ng-repeat="row in PageData.Tool">
                                            <td>{{$index+1}}</td>
                                            <td><span ng-bind="row.medBrandCodeName"></span>
                                            <td><span ng-bind="row.medProdLineCodeName"></span>
                                            <td><span ng-bind="row.medMiCode"></span>
                                            <td><span ng-bind="row.medMICodeName"></span>
                                            <td><span ng-bind="row.specification"></span>
                                            <td><span ng-bind="row.reqQty"></span>
                                            <td><span ng-bind="row.wHName"></span>
                                        </tr>
                                    </table>
                                </div>
                                <div class="yulan_button">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </ng-dialog>

        <ng-dialog ng-model="OutboundOrdermodel">
            <div class="yulan_box">
                <div class="yulan_tk">
                    <div class="yulan_biaoge">
                        <table class="yulan_bordered">
                            <thead>
                                <tr class="yulan_line" style="height:34px;">
                                    <th style="padding-left: 8px; width: 128px; color: #ffffff"><span>序号</span></th>
                                    <th style="padding-left: 8px; width: 204px; color: #ffffff"><span>仓库</span></th>
                                    <th style="padding-left: 8px; width: 359px; color: #ffffff"><span>出库单号</span></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in Print">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span ng-bind="row.medMIWarehouseName"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="row.wONo"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="yulan_button">
                    </div>
                </div>
            </div>
</ng-dialog>
</div>
    <div class="tools">

 
        <span class="btn-group oms-btn-group" style="float:right;">
            <a class="btn btn-primary" ng-if="View.Competence.dealwith" ng-click="DealService.Save()"><i class="fa fa-save"></i>保存</a>
            <a class="btn btn-primary" ng-if="View.Competence.dealwith" ng-click="DealService.Show()"><i class="fa fa-wrench"></i>处理</a>
            <a class="btn btn-primary" ng-click="goLastPage()"><i class="fa  fa-reply"></i> 返回</a>
            <a class="btn btn-danger" ng-if="View.Competence.dealwith" ng-click="DealService.Cancel()"><i class="fa fa-undo"></i> 订单取消</a>
        </span>
    </div>
</div>
