<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">

            <div role="tabpanel" class="tab-pane active" ng-slide="Integrated.IsQuery" style="display:none;">
                <div class="row-fluid">
                    <div class="widget-box" style="margin-top:0px;border:0px;">
                        <div class="widget-title bg_ly">
                            <h5 data-toggle="collapse" href="#Inquire">订单高级查询</h5>
                        </div>
                        <div id="Inquire" class="widget-content nopadding collapse in" style="border:0px;">
                            <div class="control-group ">
                                <div class="Vessel" style="width:60%;">
                                    <span class="Text">下单时间：</span>
                                    <span class="Left" ng-show-data="" ng-model="Pagein.createDateBegin"></span>
                                    <div class="Text"> 至</div>
                                    <span class="Left" ng-show-data="" ng-model="Pagein.createDateEnd"></span>
                                </div>
                                <div class="Vessel Others">
                                    <span class="btn-group oms-btn-group Right">
                                        <a class="btn btn-primary" ng-click="Integrated.QueryOrderList()"><i class="fa fa-search"></i> 查询</a>
                                        <a class="btn btn-primary" ng-click="Integrated.QueryCancel()"><i class=" fa fa-align-justify"></i> 取消</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div id="Inquire" class="widget-content nopadding collapse in" style="border:0px;">
                            <div class="control-group ">
                                <div class="Vessel Others">
                                   订单编号：<input type="text" ng-model="Pagein.sONo" placeholder="请输入订单编号" ng-click="Integrated.QueryOrderList()" />
                                </div>
                                <div class="Vessel Others">
                                   货&nbsp;&nbsp;主：                                    
                                    <select ng-model="Pagein.oIOrgCode">
                                        <option value="">请选择货主类型...</option>
                                        <option ng-repeat="item in SelectInfo.OIorg.dic" value="{{item.id}}">{{item.text}}</option>
                                    </select>
                                </div>
                                <div class="Vessel Others">
                                   订单状态：
                                    <select ng-model="Pagein.Select.status">
                                        <option value="">请选择订单状态...</option>
                                        <option ng-repeat="item in SelectInfo.Status.dic" value="{{item.id}}">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="Inquire" class="widget-content nopadding collapse in" style="border:0px;">
                            <div class="control-group ">
                                    <div class="Vessel Others">
                                    医&nbsp;&nbsp;院：
                                        <select ng-model="Pagein.hPCode" ng-change="SelectInfo.Hosptail.change()" style="margin-left:-8px">
                                            <option value="">请选择医院...</option>
                                            <option ng-repeat="item in SelectInfo.Hosptail.dic" value="{{item.hPCode}}">{{item.hPName}}</option>
                                        </select>                                
                                </div>                           
                                <div class="Vessel Others">
                                    医&nbsp;&nbsp;生：
                                    <select ng-model="Pagein.dTCode">
                                        <option value="">请选择医生...</option>
                                        <option ng-repeat="item in SelectInfo.Doctor.dic" value="{{item.dTCode}}">{{item.dTName}}</option>
                                    </select>
                            
                                </div>  
                                <div class="Vessel Others">
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <header class="main-box-header clearfix" ng-slide="!Integrated.IsQuery">
                <h2 class="pull-left">{{title}}</h2>
                <span class="btn-group oms-btn-group" style="float:right;">
                    <a class="btn btn-primary" ng-click="addSurgery()" ng-if="User.userInfo.orgType=='DL'&&!competence.approval&&!Competence.back&&!Competence.dealwith&&!Competence.approval&&!Competence.append"> <i class="fa fa-pencil"></i> 手术下单</a>
                    <a class="btn btn-primary" ng-click="editSurgery()" ng-if="competence.modify"> <i class="fa fa-clipboard"></i> 手术修改</a>
                    <a class="btn btn-primary" ng-click="editSurgery()" ng-if="Competence.submit"><i class="fa fa-check"></i>订单提交</a>
                    <a class="btn btn-primary" ng-click="ApprovalSurgery()" ng-if="Competence.approval"><i class="fa fa-eye"></i>订单审批</a>
                    <a class="btn btn-primary" ng-click="SignSurgery()" ng-if="Competence.sign"><i class="fa fa-pencil-square-o"></i>订单签收</a>
                    <a class="btn btn-primary" ng-click="DealSurgery()" ng-if="Competence.dealwith"><i class="fa fa-wrench"></i>订单处理</a>
                    <a class="btn btn-primary" ng-click="ApplyBack()" ng-if="Competence.apply"><i class="fa fa-steam"></i>返库申请</a>
                    <a class="btn btn-primary" ng-click="OrderBack()" ng-if="Competence.back"><i class="fa fa-legal"></i>返库处理</a>
                    <a class="btn btn-primary" ng-click="Additional()" ng-if="Competence.append"> <i class="fa fa-shopping-cart"></i>追加配货</a>
                    <a class="btn btn-primary" ng-click="showViewDetail()"><i class="fa fa-align-justify"></i> 订单详情</a>
                    <a class="btn btn-primary" ng-click="Integrated.IsQuery=!Integrated.IsQuery"><i class="fa fa-search"></i>高级查询</a>
                </span>
                <div class="input-group" style="float:right;width:250px;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="请输入订单号"
                           style="padding:8px;" ng-model="Pagein.sONo" ng-keyup="Integrated.Enter($event)">
                    <a class="input-group-addon" href="javascript:void(0)" ng-click="Integrated.QueryOrderList()"><i class="fa fa-search"></i></a>
                </div>
                <span ng-neardata="Integrated.DataQuery" style="float:right;"></span>
            </header>

            <div class="main-box-body clearfix">
                <div class="table-responsive list-box">
                    <table class="table table-bordered table-striped" st-table="Integrated.OrderList">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>订单编号</span></th>
                                <th><span>订单医院</span></th>
                                <th><span>订单医生</span></th>
                                <th><span>手术时间</span></th>
                                <th><span>下单人</span></th>
                                <th><span>下单时间</span></th>
                                <th ng-show="ListCompetence.initMedProdLnCodeName"><span>下单产品线</span></th>
                                <th><span>订单状态</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Integrated.OrderList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected" ng-dblclick="showView(row.sONo)">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{row.sONo}}
                                </td>
                                <td>
                                    {{row.hPCodeName?row.hPCodeName:row.initHPCodeName}}
                                </td>
                                <td>
                                    {{row.dTCodeName?row.dTCodeName:row.initDTCodeName}}
                                </td>
                                <td>
                                    {{row.operationDate?row.operationDate:row.initOperationDate}}
                                </td>
                                <td>
                                    {{row.sOCreateByName}}
                                </td>
                                <td>
                                    {{row.createDate}}
                                </td>
                                <td ng-show="ListCompetence.initMedProdLnCodeName">
                                    {{row.initMedProdLnCodeName}}
                                </td>
                                <td>
                                    <span ng-class="(row.status=='SOSTS00200'||row.status=='SOSTS00040')?'red':''">{{row.statusName}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>