
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5 data-toggle="collapse" href="#pro_BaseInformation">精确信息[货主：{{PageData.sOOIOrgCodeName}}]</h5>
        </div>
        <div class="widget-content nopadding collapse in" id="pro_BaseInformation">
            <div class="control-group ">
                <label>
                    收货人：{{PageData.deliveryContact}}
                </label>
                <label>
                    电话：{{PageData.deliveryrMobile}}
                </label>
                <label>
                    配送：{{PageData.carrierTransTypeName}}
                </label>
            </div>
            <div class="control-group ">
                <label style="width:60%">
                    <span>地址：</span>
                    <span>
                        {{PageData.deliveryProvinceName}}
                        {{PageData.deliveryCityName}}
                        {{PageData.deliveryDistrictName}}
                        {{PageData.deliveryAddress}}
                    </span>
                </label>
                <label>
                    <span>  送达日期：</span>
                    <span ng-bind="deliveryReqArrivalDate"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="widget-box">
        <div class="widget-title bg_ly">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5 style="width:80%" data-toggle="collapse" href="#pro_ProductInformation">产品信息
                {{AccurProduct.Competence.ShowInfo}}
            </h5>
        </div>
        <div id="pro_ProductInformation" class="widget-content nopadding collapse in">
            <div ng-product-view="AccurProduct" ng-model="AccurProduct.data" ng-service="AccurProduct.Service" ng-comp="AccurProduct.Competence"></div>
        </div>
    </div>
    <div class="widget-box">
        <div class="widget-title bg_ly">
            <span class="icon"><i class="fa icon-chevron-down"></i></span>
            <h5 data-toggle="collapse" href="#pro_AdditionalInformation">图片信息</h5>
        </div>
        <div id="pro_AdditionalInformation" class="widget-content nopadding collapse in">
            <div class="control-group ">
                <div ng-img-list="img" ng-model="PageData.orderFile.images"></div>
            </div>
            <div class="control-group">
                <label style="width:100%">
                    图片说明：{{PageData.orderFile.remark}}
                </label>
            </div>
        </div>
    </div>
</div>