
<div class="widget-box">
    <div class="widget-content">
        <div class="control-group">
            <ul class="timeline">
                <li class="tl-header" style="display:none;">
                    <div class="btn btn-warning"><i class="fa fa-codepen"></i> 添加事件</div>
                </li>
                <li class="tl-header" ng-show="PageData.status=='SOSTS00120'||PageData.status=='SOSTS00200'">
                    <div class="btn btn-sm btn-default btn-rounded"><i class="fa fa-codepen"></i> 事件结束</div>
                </li>
                <li class="tl-item" ng-repeat="event in PageData.events">
                    <div class="tl-wrap b-info">
                        <span class="tl-date text-muted">{{event.eventOpDate}}</span>
                        <div class="tl-content panel p-sm b-a">
                            <span class="arrow b-white left pull-top"></span>
                            <div class="p b-light">
                                <span>{{event.externalRemark1}}</span>
                                <div ng-img-list="img" ng-model="event.images"></div>
                                <span ng-show="event.eventReasonDesc">
                                    备注：{{event.eventReasonDesc}}
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tl-header">
                    <div class="btn btn-sm btn-default btn-rounded"><i class="fa fa-database"></i> 订单开始</div>
                </li>

            </ul>
        </div>
    </div>
</div>