<div class="fixed-header theme-blue-gradient" ng-controller="employeeController">
    <!--header显示区域-->
    <header class="navbar header-navbar" ng-include="view.header"></header>

    <!--body显示区域-->
    <div class="container page-wrapper" ng-class="fold?'nav-small':''">
        <div class="row">
            <!--侧边导航栏-->
            <div id="nav-col" role="menu" ng-include="view.menu">
            </div>
            <!--头部地址栏-->
            <div id="content-wrapper">

                <div class="row" style="display:none">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="#">首页</a></li>
                                    <li class="active"><span>Dashboard</span></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div ui-view=""></div>
            </div>
        </div>
        <!--底部显示栏-->
        <footer id="footer-bar" style="display:none;" class="row" ng-include="view.footer"></footer>
    </div>
</div> 