<div class="row">
    <div class="col-lg-12 row-mt-8">
        <div class="main-box clearfix">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">物料管理列表</h2>
            </header>
            <div class="col-lg-3" style=" height:auto; max-height: 480px; overflow-y: auto; ">
                <div ng-tree="" ng-setting="tree.setting" ng-data="tree.data" ng-model="tree.obj"></div>
            </div>
            <div class="main-box-body clearfix col-lg-9" style="border-left: 1px solid #ccc;">
                <div class="table-responsive list-box">
                    <table class="table table-bordered table-striped" st-table="Material.MaterialList">
                        <thead>
                            <tr>
                                <th><span>序号</span></th>
                                <th><span>品牌名称</span></th>
                                <th><span>物料编码</span></th>
                                <th><span>物料名称</span></th>
                                <th><span>所属产品线</span></th>
                                <th><span>扫描编码</span></th>
                                <th><span>应用通用性</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Material.MaterialList" st-select-row="row" class="ng-scope ng-isolate-scope st-selected">
                                <td>{{$index+1}}</td>
                                <td>
                                    {{row.medBrandName}}
                                </td>
                                <td>
                                    {{row.medMIInternalNo}}
                                </td>
                                <td>
                                    {{row.medMIName}}
                                </td>
                                <td>
                                    {{row.medProdLnName}}
                                </td>
                                <td>
                                    {{row.medMICodeScanned}}
                                </td>
                                <td>
                                    {{row.applyCommonTypeName}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-pagein="page" ng-model="Pagein"></div>
            </div>
        </div>
    </div>
</div>