
@font-face {font-family: "medlog-font";
  src: url('medlog-font.eot?t=1461316099'); /* IE9*/
  src: url('medlog-font.eot?t=1461316099#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('medlog-font.woff?t=1461316099') format('woff'), /* chrome, firefox */
  url('medlog-font.ttf?t=1461316099') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('medlog-font.svg?t=1461316099#medlog-font') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "medlog-font-s";
  src: url('medlog-font-s.eot?t=1461316099'); /* IE9*/
  src: url('medlog-font-s.eot?t=1461316099#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('medlog-font-s.woff?t=1461316099') format('woff'), /* chrome, firefox */
  url('medlog-font-s.ttf?t=1461316099') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('medlog-font-s.svg?t=1461316099#medlog-font') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "medlog-font-l";
  src: url('medlog-font-l.eot?t=1461316099'); /* IE9*/
  src: url('medlog-font-l.eot?t=1461316099#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('medlog-font-l.woff?t=1461316099') format('woff'), /* chrome, firefox */
  url('medlog-font-l.ttf?t=1461316099') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('medlog-font-l.svg?t=1461316099#medlog-font') format('svg'); /* iOS 4.1- */
}

.medlog-font{
  font-family:"medlog-font" !important;
  font-size:26px;
  
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.medlog-font-s {
  font-family:"medlog-font-s" !important;
  font-size:26px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.medlog-font-l {
  font-family:"medlog-font-l" !important;
  font-size:26px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
i {font-style:normal;}


.medlog-icon-mima:before {content: "\e629";}
.medlog-icon-zhanghao:before {content: "\e62a";}
.medlog-icon-dayinji:before {content: "\e66d";}
.medlog-icon-orders:before { content: "\f0007"; }
.medlog-icon-del:before { content: "\e648"; }
.medlog-icon-iconfontwode:before { content: "\e617"; }
.medlog-icon-iconfontchuangyeshenfen:before { content: "\e619"; }
.medlog-icon-iconfontwodepinglun:before { content: "\e623"; }
.medlog-icon-iconfontguanji:before { content: "\e614"; }
.medlog-icon-shoushu:before { content: "\e650"; }
.medlog-icon-wuliu:before { content: "\e75f"; }
.medlog-icon-zuji:before { content: "\e767"; }
.medlog-icon-gouwudai:before { content: "\e73e"; }
.medlog-icon-liebiaoxingshi:before { content: "\e742"; }
.medlog-icon-shouye1:before { content: "\e751"; }
.medlog-icon-gouwuche:before { content: "\e73d"; }
.medlog-icon-dingdan:before { content: "\e737"; }
.medlog-icon-fankui:before { content: "\e738"; }
.medlog-icon-xiangyou1:before { content: "\e775"; }
.medlog-icon-xiangshang2:before { content: "\e76e"; }
.medlog-icon-xiangxia2:before { content: "\e772"; }
.medlog-icon-xiangzuo1:before { content: "\e779"; }
.medlog-icon-zhengli:before { content: "\e766"; }
.medlog-icon-xinxi:before { content: "\e763"; }
.medlog-icon-qingchu:before { content: "\e747"; }
.medlog-icon-saoma:before { content: "\e749"; }
.medlog-icon-gouwuchefill:before { content: "\e73c"; }
.medlog-icon-gonglve:before { content: "\e73b"; }
.medlog-icon-woyaotucao:before { content: "\e686"; }
.medlog-icon-youhuobaopiaoju:before { content: "\e973"; }
.medlog-icon-iconfontguanlibumen1111:before { content: "\e602"; }
.medlog-icon-install:before { content: "\e961"; }
.medlog-icon-nofound:before { content: "\e962"; }
.medlog-icon-truck:before { content: "\e8fd"; }
.medlog-icon-yyyonghu2:before { content: "\e666"; }
.medlog-icon-pointerleft:before { content: "\e679"; }
.medlog-icon-pointerdown:before { content: "\e678"; }
.medlog-icon-pointerup:before { content: "\e67b"; }
.medlog-icon-dayin:before { content: "\f0013"; }
.medlog-icon-777:before { content: "\e608"; }
.medlog-icon-333:before { content: "\e604"; }
.medlog-icon-shezhi:before { content: "\e682"; }
.medlog-icon-yydengluzhe:before { content: "\e63b"; }
.medlog-icon-diag:before { content: "\ec12"; }
/*medlog-font-s*/
.medlog-icon-pinpai:before { content: "\e629"; }
.medlog-icon-yiliaoyongpin:before { content: "\e618"; }
.medlog-icon-keshi:before { content: "\e657"; }
.medlog-icon-huanzhe:before { content: "\e63d"; }
.medlog-icon-peihuo:before { content: "\e667"; }
.medlog-icon-peihuo:before { content: "\e645"; }
.medlog-icon-chanpin:before { content: "\e67b"; }
.medlog-icon-chanpin1:before { content: "\e603"; }
.medlog-icon-beizhu:before { content: "\e613"; }
.medlog-icon-shengpi:before { content: "\e63b"; }
.medlog-icon-piliangshenpi:before { content: "\e859"; }
.medlog-icon-shenpiquxiao:before { content: "\e64f"; }
.medlog-icon-fanshenpi:before { content: "\e62a"; }
.medlog-icon-dengdai:before { content: "\e868"; }
.medlog-icon-date:before { content: "\e6eb"; }
.medlog-icon-tianjia:before { content: "\e63d"; }
.medlog-icon-cangku:before { content: "\e643"; }
.medlog-icon-fanku:before { content: "\e602"; }
.medlog-icon-chuku:before { content: "\e601"; }
.medlog-icon-daiyanshou:before { content: "\e677"; }
.medlog-icon-shouhuorenren:before { content: "\e641"; }
.medlog-icon-yisheng:before { content: "\e630"; }
.medlog-icon-zhenduan:before { content: "\e618"; }
.medlog-icon-yiyuan:before { content: "\e682"; }
.medlog-icon-huozhu:before { content: "\e642"; }
.medlog-icon-peisongfangshi:before { content: "\e6a2"; }
.medlog-icon-gongju:before { content: "\e6c8"; }
.medlog-icon-wuliu:before { content: "\e603"; }
.medlog-icon-fapiao:before { content: "\e65c"; }
.medlog-icon-shouji:before { content: "\e60b"; }
.medlog-icon-beihuo:before { content: "\e64c"; }
.medlog-icon-jifei:before { content: "\e6e3"; }
.medlog-icon-baocun:before { content: "\e666"; }
.medlog-icon-shezhi:before { content: "\e620"; }
.medlog-icon-shanchu:before { content: "\e69b"; }
/*medlog-font-l*/
.medlog-icon-wuliao:before { content: "\e618"; }
.medlog-icon-huanzhe:before { content: "\e63d"; }
.medlog-icon-cangku:before { content: "\e643"; }
.medlog-icon-quxiao:before { content: "\e620"; }









