
html, .ng-scope {
    scrollbar-arrow-color: #f4ae21; /*三角箭头的颜色*/
    scrollbar-face-color: #333; /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666; /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #666; /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999; /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #666; /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #666; /*立体滚动条背景颜色*/
    scrollbar-base-color: #f8f8f8; /*滚动条的基本颜色*/
    Cursor: url(mouse.cur); /*自定义个性鼠标*/
}

input, select, textarea {
    border: solid 1px #ccc;
    /*border: 0px;
    border-bottom: 1px solid #ccc;*/
    padding: 5px;
    border-radius: 4px;
}

label select {
    max-width: 150px;
}

label > input[type='text'], label select {
    min-width: 150px;
}

input[type='number'] {
    text-align:right;
}

/*行上边距8像素*/
.row-mt-8 {
    margin-top: 8px;
}


.table {
    margin-bottom: 0px;
}

/*列表区域*/
.list-box {
    min-height: 420px;
}

.table tbody tr {
    cursor: pointer;
}

.table-striped > tbody > tr:hover {
    background: #3498db;
    color: #fff;
}

.st-selected td {
    background: #2c3e50 !important;
    color: #fff;
}

.red {
    color: red !important;
}

.green {
    color: #00CC00 !important;
}

.selected {
    color: #436EEE;
}

.red, .green {
    font-size: 13px;
    font-weight: bold;
}

.tab-striped > tbody > tr:nth-child(odd) > td,
.tab-striped > tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.tab-striped > tbody > tr:nth-child(odd) > td,
.tab-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fdfdfe;
}

.tab-striped > thead > th {
    background-color: #fdfdfe;
    border-right: 1px solid #eeeff1;
}

    .tab-striped > thead > th:last-child {
        border-right: 0;
    }

/*控件样式开始*/

/*按钮样式开始*/
.tools {
    padding: 5px;
    background: #fff;
    line-height: 37px;
    display: list-item;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-tabs {
    background-color: #fff;
}

    .nav-tabs > li.active {
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            background-color: #34495e;
            color: #fff;
            border-bottom: 3px solid #3598dd;
        }

/*按钮样式结束*/

/*多选控件组*/
.chkbox {
    display: none;
}

    .chkbox + label {
        background-color: #fafbfa;
        padding: 9px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
        margin-right: 8px;
        -webkit-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        width: 50px;
        height: 26px;
        margin-bottom: 0px;
        margin-top: -2px;
    }

        .chkbox + label:after {
            content: ' ';
            position: absolute;
            top: 0;
            -webkit-transition: box-shadow 0.1s ease-in;
            transition: box-shadow 0.1s ease-in;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100px;
            box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
        }



        .chkbox + label:before {
            content: ' ';
            position: absolute;
            background: white;
            top: 1px;
            left: 0px;
            z-index: 10;
            width: 25px;
            -webkit-transition: all 0.1s ease-in;
            transition: all 0.1s ease-in;
            height: 25px;
            border-radius: 100px;
            box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
        }

    .chkbox:active + label:after {
        box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
    }

    .chkbox:active + label:before {
        width: 37px;
    }

    .chkbox:checked:active + label:before {
        width: 37px;
        left: 20px;
    }

    .chkbox + label:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .chkbox:checked + label:before {
        content: ' ';
        position: absolute;
        left: 26px;
        border-radius: 100px;
    }

    .chkbox:checked + label:after {
        content: ' ';
        font-size: 1.5em;
        position: absolute;
        background: #4cda60;
        box-shadow: 0 0 1px #4cda60;
    }
/*提示样式结束*/

/*提示样式开始*/

/*必输样式*/
.required {
    color: red;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
    font-size: 14px;
}
/*提示样式结束*/



/*区域布局开始*/
.row-fluid {
    clear: both;
    margin-bottom: 0px;
    position: relative;
}

    .row-fluid .widget-box {
        border-radius: 4px;
        margin-top: 8px;
        background-color: #fff;
    }

        .row-fluid .widget-box .widget-title {
            background-color: #34495e;
            border-bottom: 1px solid #CDCDCD;
            height: 36px;
            color: #fff;
            border-radius: 4px 4px 0px 0px;
        }

            .row-fluid .widget-box .widget-title span.icon {
                padding: 9px 10px 7px 11px;
                float: left;
                border-right: 1px solid #dadada;
            }

                .row-fluid .widget-box .widget-title span.icon .icon-chevron-down:before {
                    content: "\f078";
                }

            .row-fluid .widget-box .widget-title h5 {
                color: #fff;
                float: left;
                font-size: 12px;
                font-weight: bold;
                padding: 12px;
                line-height: 12px;
                margin: 0;
                width: 90%;
            }

            .row-fluid .widget-box .widget-title .btn {
                color: #fff;
                float: right;
            }

            .row-fluid .widget-box .widget-title .btn-group {
                float: right;
            }

                .row-fluid .widget-box .widget-title .btn-group .btn {
                    color: #fff;
                    float: left;
                }

                    .row-fluid .widget-box .widget-title .btn:hover,
                    .row-fluid .widget-box .widget-title .btn-group .btn:hover {
                        background: #121418;
                    }

        .row-fluid .widget-box .nopadding {
            padding: 0 !important;
        }

        .row-fluid .widget-box .widget-content {
            border-bottom: 1px solid #cdcdcd;
            border-radius: 4px;
        }

            .row-fluid .widget-box .widget-content .control-group {
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #eeeeee;
                margin-bottom: 0;
                display: flex;
            }

                .row-fluid .widget-box .widget-content .control-group > label,
                .row-fluid .widget-box .widget-content .control-group > .Vessel {
                    text-align: left;
                    padding-left: 3%;
                    width: 30%;
                    padding-top: 8px;
                    float: left;
                    font-size:12px;

                }

                    .row-fluid .widget-box .widget-content .control-group > label.Others,
                    .row-fluid .widget-box .widget-content .control-group > .Vessel.Others {
                        width: 39%;
                    }

                    .row-fluid .widget-box .widget-content .control-group > label.Second,
                    .row-fluid .widget-box .widget-content .control-group > .Vessel.Second {
                        width: 59%;
                    }

                    .row-fluid .widget-box .widget-content .control-group > label.All,
                    .row-fluid .widget-box .widget-content .control-group > .Vessel.All {
                        width: 100%;
                    }

                        .row-fluid .widget-box .widget-content .control-group > label.All .Input,
                        .row-fluid .widget-box .widget-content .control-group > .Vessel.All .Input,
                        .row-fluid .widget-box .widget-content .control-group > label.Second .Input,
                        .row-fluid .widget-box .widget-content .control-group > .Vessel.Second .Input {
                            width: 78%;
                        }

                    .row-fluid .widget-box .widget-content .control-group > label .Text,
                    .row-fluid .widget-box .widget-content .control-group > .Vessel .Text {
                        line-height: 35px;
                        float: left;
                        font-size:12px;
                    }

                    .row-fluid .widget-box .widget-content .control-group > label .Left,
                    .row-fluid .widget-box .widget-content .control-group > .Vessel .Left {
                        float: left;
                    }

                    .row-fluid .widget-box .widget-content .control-group > label .Right,
                    .row-fluid .widget-box .widget-content .control-group > .Vessel .Right {
                        float: right;
                    }

.inp-chk {
    line-height: 20px;
}

    .inp-chk input {
        float: left;
    }

/*区域布局结束*/

/*我的信息开始*/
.my_Role {
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.my_Operat a {
    width: 30%;
    zoom: 1;
    padding: 5px 0;
    display: block;
    color: #fff;
    text-align: center;
    background: #34495e;
    text-decoration: none;
}

    .my_Operat a:hover {
        background: #121418;
    }

.control-group {
    padding: 5px;
}

    /*固定宽度的表格*/
    .control-group .table.fixed {
    }
    .control-group .table tbody > tr > th {
        width:90px;
    }
        .control-group .table tbody > tr > th.No {
            width: 60px;
        }
    .control-group .table tbody > tr > td {
        padding: 3px 8px;
    }
        .control-group .table tbody > tr > td ul.tab-detail {
            float:left;
            list-style:none;
            width:100%;
        }
            .control-group .table tbody > tr > td ul.tab-detail li {
                float: left;
                padding:5px;
            }
                .control-group .table tbody > tr > td ul.tab-detail li.all {
                    width: 100%;
                }
                 .control-group .table tbody > tr > td ul.tab-detail li.third
                 {
                     width:30%;
                 }
                   .control-group .table tbody > tr > td ul.tab-detail li.fourth {
                       width:39%;
                }
                .control-group .table tbody > tr > td ul.tab-detail li.sixth {
                       width:60%;
                }
                .control-group .table tbody > tr > td ul.tab-detail li.seventh {
                    width: 69%;
                }

/*我的信息结束*/


/*按钮调整开始*/
.ui-widget-content a.btn {
    color: #fff;
}

.btn-primary {
    background-color: #3598dc;
    border: 1px solid #3598dd;
}

.btn-warning {
    background-image: linear-gradient(to bottom, #FF9933 0,#FF9933 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #e38d13;
}

    .btn-warning:hover {
        background-image: linear-gradient(to bottom,#FFCC00 0,#FFCC33 100%);
        border: 1px solid #FFFF66;
    }
/*按钮调整结束*/


/*区间宽度开始*/
.box-50 {
    width: 50%;
}

.box-80 {
    width: 80%;
}

.box-100 {
    width: 100%;
}
/*区间宽度结束*/

/*订单事件流程说明Begion*/
.ProgressBar {
    width: 100%;
    height: 50px;
}

    .ProgressBar .event {
        width: 100%;
        background: no-repeat left;
    }
    .ProgressBar .CANCEL {
        background-image: url(../img/progressbar/progress-bar06.png);
    }

    /*下单*/
    .ProgressBar .ORDER {
        background-image: url(../img/progressbar/progress-bar01.png);
    }
    /*受理*/
    .ProgressBar .HANDLE {
        background-image: url(../img/progressbar/progress-bar02.png);
    }
    /*出库*/
    .ProgressBar .OUTBOUND {
        background-image: url(../img/progressbar/progress-bar03.png);
    }
    /*签收*/
    .ProgressBar .SIGNATURE {
        background-image: url(../img/progressbar/progress-bar04.png);
    }
    /*返库*/
    .ProgressBar .RETURN {
        background-image: url(../img/progressbar/progress-bar05.png);
    }
/*订单事件流程说明End*/
/*Timeline Begion*/
.timeline {
    padding: 0;
    margin: 0;
    margin-left: 150px;
}

.tl-item {
    display: block;
}

    .tl-item:before,
    .tl-item:after {
        display: table;
        content: " ";
    }

    .tl-item:after {
        clear: both;
    }

.visible-left {
    display: none;
}

.tl-wrap:before,
.tl-wrap:after {
    display: table;
    content: " ";
}

.tl-wrap:after {
    clear: both;
}

.tl-wrap:before {
    position: relative;
    top: 15px;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: -26px;
    background: #f1f2f3;
    border-color: inherit;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    content: "";
    box-shadow: 0 0 0 4px #f6f7f8;
}

.tl-date {
    position: relative;
    top: 10px;
    display: block;
    float: left;
    margin-left: -12.5em;
    text-align: right;
}

.tl-content {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .tl-content.block {
        display: block;
        width: 100%;
    }

    .tl-content.panel {
        margin-bottom: 0;
    }

.tl-header {
    display: block;
    width: 12em;
    margin-left: 1px;
    text-align: center;
}

.timeline-center .tl-item {
    margin-left: 50%;
}

    .timeline-center .tl-item .tl-wrap {
        margin-left: -2px;
    }

.timeline-center .tl-header {
    width: auto;
    margin-left: -1px;
}

.timeline-center .tl-left {
    margin-right: 50%;
    margin-left: 0;
}

    .timeline-center .tl-left .hidden-left {
        display: none !important;
    }

    .timeline-center .tl-left .visible-left {
        display: inherit;
    }

    .timeline-center .tl-left .tl-wrap {
        float: right;
        padding-right: 20px;
        padding-left: 0;
        margin-right: 0;
        border-right-width: 2px;
        border-left-width: 0;
    }

        .timeline-center .tl-left .tl-wrap:before {
            float: right;
            margin-right: -26px;
            margin-left: 0;
        }

    .timeline-center .tl-left .tl-date {
        float: right;
        margin-right: -8.5em;
        margin-left: 0;
        text-align: left;
    }

.tl-wrap {
    display: block;
    padding: 5px 0 5px 20px;
    margin-left: 6em;
    border-color: #e3e5e7;
    border-style: solid;
    border-width: 0 0 0 2px;
}

.tl-content.panel {
    margin-bottom: 0;
}

.p-sm {
    padding: 10px;
}

.b-a {
    border: 1px solid #e3e5e7;
}

.tl-content {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel {
    border-radius: 0;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.b-info {
    border-color: #2772ee;
}

.arrow.pull-top {
    top: 18px;
}

.arrow.left {
    left: -9px;
    margin-top: -9px;
}

.b-white {
    border-color: #fff;
}

.arrow {
    position: absolute;
    z-index: 10;
}

    .arrow.left:after {
        top: 1px;
        border-top-color: transparent;
        border-right-color: #ccc;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-left-width: 0;
    }

    .arrow:before, .arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 9px;
        content: "";
    }

.b-light {
    border-color: #f1f2f3;
}

.b-t {
    border-top: 1px solid #e3e5e7;
}
/*Timeline End*/

.home {
    top: 0px;
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: center;
    bottom: 0px;
    background-size: cover;
    transition: background-image 1s ease-in-out 0.5s;
}

    .home.one {
        background-image: url(../img/home/home-1.jpg);
    }

    .home.three {
        background-image: url(../img/home/home-3.jpg);
    }

    .home.four {
        background-image: url(../img/home/home-4.jpg);
    }

    .home.five {
        background-image: url(../img/home/home-5.jpg);
    }

    .home.six {
        background-image: url(../img/home/home-6.jpg);
    }

/*兼容问题处理*/
.dropdown-backdrop {
    position: initial;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: none;
}

/*按钮组件*/
.oms-btn-group .btn.btn-primary {
    /*按钮组靠左*/
    border: 1px solid #63B8FF;
}

/*弹出层样式*/
.ui-widget-header {
    background: #3498db;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #2980b9));
    background: -webkit-linear-gradient(top, #3498db 0%, #2980b9 100%);
    background: linear-gradient(to bottom, #3498db 0%, #2980b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='#2980b9',GradientType=0 );
    color: #fff;
    margin: -3px;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #3498db;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498db), color-stop(100%, #2980b9));
        background: -webkit-linear-gradient(top, #3498db 0%, #2980b9 100%);
        background: linear-gradient(to bottom, #3498db 0%, #2980b9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='#2980b9',GradientType=0 );
        color: #fff;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
        background: #2980b9;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2980b9), color-stop(100%, #2980b9));
        background: -webkit-linear-gradient(top, #2980b9 0%, #2980b9 100%);
        background: linear-gradient(to bottom, #2980b9 0%, #2980b9 100%);
    }
/*订单备货单预览*/
@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
.yulan_box{position:relative; padding:10px; background-color:#ffffff ;box-shadow: 0px 0px 10px 0px  #CCCCCC;max-height:500px; overflow-y:auto }
.yulan_tk { overflow:hidden;}
.yulan_tk { border:1px solid #d9d9d9;}
.yulan_button{float:right;
    margin:1.5em; }
.yulan_button a{ padding:10px 20px;
    background-color:#2e8ac8;
    color:#ffffff; font-size:14px;border-radius:2px; font-weight:bold; font-family:"微软雅黑";}
.yulan_button a:hover{background-color:#0698fa; }
.yulan_xinxi>li{ padding:0.5em;list-style:none;}
.yulan_xinxi b{color:#808080;}
.yulan_xinxi{ float:left; clear:right;
    font-size:14px;font-family:"微软雅黑"; color:#4d4d4d;}
.yulan_gaik{overflow:hidden;}
.yulan_gaik li{float:left;margin-right:40px;list-style:none;}
.yulan_gaik a{font-size:12px;}

.yulan_ys{border-top:solid 1px #d9d9d9; border-bottom:solid 1px #d9d9d9;padding:10px; font-family:"微软雅黑"; font-size:14px; font-weight:bold; color: #808080; width:970px;}

.yulan_bordered { border: solid #d9d9d9 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #e5e5e5;
    -moz-box-shadow: 0 1px 1px #e5e5e5;
    box-shadow: 0 1px 1px #e5e5e5; font:0.875em "微软雅黑";}


.yulan_bordered td{
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 8px;
    text-align:left; color:#4d4d4d;

}



.yulan_bordered td:first-child, .yulan_bordered th:first-child {
    border-left: none;
}

.yulan_bordered th:first-child {
    -moz-border-radius: 1px 0 0 0;
    -webkit-border-radius: 1px 0 0 0;
    border-radius: 1px 0 0 0;
}

.yulan_bordered th:last-child {
    -moz-border-radius: 0 1px 0 0;
    -webkit-border-radius: 0 1px 0 0;
    border-radius: 0 1px 0 0;
}

.yulan_bordered th:only-child{
    -moz-border-radius: 1px 1px 0 0;
    -webkit-border-radius: 1px 1px 0 0;
    border-radius: 1px 1px 0 0;
}

.yulan_bordered tr:last-child td:first-child {
    -moz-border-radius: 1px 0 0 0;
    -webkit-border-radius: 1px 0 0 0;
    border-radius: 1px 0 0 0;
}

.yulan_bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 1px 0;
    -webkit-border-radius: 0 0 1px 0;
    border-radius: 0 0 1px 0;
}
.yulan_bordered td:hover {
    background: #808080;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color:#FFFFFF;
}


.yulan_biaoge .bordered{margin:10px;}
.yulan_biaoge h4 {margin:10px; color:#292828; font:14px "微软雅黑";}
.yulan_biaoge h4 b{color:#666666}
.yulan_dd{ position:absolute; top:20px; left:24px; font-family:"微软雅黑"; font-size:24px; font-weight:bold; color:#2e8ac8;}
.yulan_line { background-color:#3498db;}
.yulan_line td{ color:#ffffff; font-weight:bold;}
.yulan_biaoge{ display:block; margin-left:6px;}



/*下单按钮slide折叠*/
.oms-web-icon-fold {
   float: left;
   margin: -11px;
   width: 35px;
   height:34px
}
.oms-web-h5-fold {
  margin:23px;
}